<div class="modal fade" id="add_group_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增群組</h4>
            </div>
            <div class="modal-body">
                <div class="padding-side">
                    <form>
                        <!-- 群組名稱 -->
                        <div class="form-group">
                            <label for="add_group_name" class="col-2 col-form-label">名稱:</label>
                            <div class="col-4">
                                <input class="form-control" type="text" name="add_group_name" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-info" id="add_group_submit">確定</button>
            </div>
        </div>
    </div>
</div>