<div class="modal fade" id="add-ticket-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增待辦</h4>
            </div>
            <div class="modal-body">
                <div class="padding-side">
                    <form>
                        <div class="form-group row" hidden>
                            <label for="subject" class="col-2 col-form-label">客戶姓名</label>
                            <div class="col-4">
                                <input class="form-control" type="text" value="" id="form-name">
                            </div>
                        </div>

                        <div class="form-group row" hidden>
                            <label for="subject" class="col-2 col-form-label">客戶ID</label>
                            <div class="col-4">
                                <input class="form-control" type="text" value="" id="form-uid">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="subject" class="col-2 col-form-label">主題</label>
                            <div class="col-4">
                                <input class="form-control" type="text" value="" id="form-subject">
                            </div>
                        </div>

                        <div class="form-group row" hidden>
                            <label for="email" class="col-2 col-form-label">電子郵件</label>
                            <div class="col-4">
                                <input class="form-control" type="text" value="" id="form-email">
                            </div>
                        </div>

                        <div class="form-group row" hidden>
                            <label for="phone" class="col-2 col-form-label">手機</label>
                            <div class="col-4">
                                <input class="form-control" type="text" value="" id="form-phone">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="status">狀態</label>
                            <select class="form-control" id="form-status">
                                    <option>Open</option>
                                    <option>Pending</option>
                                    <option>Resolved</option>
                                    <option>Closed</option>
                                  </select>
                        </div>

                        <div class="form-group row">
                            <label for="priority">優先</label>
                            <select class="form-control" id="form-priority">
                                    <option>低</option>
                                    <option>中</option>
                                    <option>高</option>
                                    <option>急</option>
                                  </select>
                        </div>
                        <div class="form-group row">
                            <label for="description">說明</label>
                            <textarea class="form-control" id="form-description" rows="3"></textarea>
                        </div>
                        <br />
                        <div id="error" class="error"></div>
                        <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                        <button type="button" class="btn btn-primary" id="form-submit">確認</button>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>