<div id="chat-setting-incomplete" class="alert alert-warning fade in alert-chatshier alert-in hidden" role="alert">
    <a href="#" class="close" aria-label="close">&times;</a>
    <strong>聊天群組還有沒輸入的欄位！ &nbsp;</strong>
</div>