<div class="con-background" id="loading">
    <div class="row">
        <div class="col-md-12 col-lg-12 text-center signin-logo">
            <span id="loading-text">chatshier...</span>
        </div>
        <div class="col-md-12 col-lg-12 loader"></div>
    </div>
</div>