<div class="modal fade" id="ticket-info-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display:flex">
                    <span id="ID_num"></span>
                    <table>
                        <th style="display:none">subject</th>
                        <td class="modal-title edit">User NickName</td>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <table class="info_input_table">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="ticket-info-delete" class="btn btn-danger" data-dismiss="modal">刪除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>