<header class="chsr toolbar w-100">
    <nav class="navbar px-1">
        <button type="button" class="btn text-light transparent d-sm-none ctrl-panel-toggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="nav-title text-nowrap text-light ml-2 mr-auto" id="navTitle"></div>

        <button type="button" class="btn mx-1 transparent d-none" id="profileToggle">
            <i class="fas fa-id-badge"></i>
        </button>
        <button type="button" class="btn mx-1 transparent d-none" id="ticketToggle">
            <i class="far fa-calendar-check"></i>
        </button>

        <div class="ml-1 dropdown" id="toolbarOptionsDropdown">
            <button type="button" aria-haspopup="true" aria-expanded="false" class="text-light transparent btn" data-toggle="dropdown">
                <i class="fa fa-cog fa-lg"></i>
            </button>
            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu right-side animated">
                <button type="button" tabindex="0" class="dropdown-item" onclick="window.location.assign('/setting')">
                    <i class="fa fa-user"></i>
                    <span>設定</span>
                </button>
                <button type="button" tabindex="0" class="dropdown-item" onclick="window.location.assign('/signout')">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>登出</span>
                </button>
            </div>
        </div>
    </nav>
</header>

<!-- <header class="chsr toolbar w-100">
    <nav class="chsr navbar navbar-light p-0">
        <ul class="nav navbar-left navbar-items align-items-center h-100">
            <li class="nav-item d-flex align-items-center h-100">
                <a class="navbar-brand white ml-3" href="/">
                    <span>Chatshier</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/chat">
                    <i class="fas fa-comment-dots fa-fw"></i>
                    <span>聊天室</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/calendar">
                    <i class="far fa-calendar-alt fa-fw"></i>
                    <span>行事曆</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/ticket">
                    <i class="fa fa-list-ul fa-fw"></i>
                    待辦事項
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/analyze">
                    <i class="fa fa-chart-bar fa-fw"></i>
                    <span>訊息分析</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100 dropdown">
                <a class="nav-link dropdown-toggle" id="messagesDropdownMenuButton" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>訊息</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdownMenuButton">
                    <a class="dropdown-item" href="/compose">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>群發</span>
                    </a>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/autoreply">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>自動回覆</span>
                    </a>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/keywordsreply">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>關鍵字回覆</span>
                    </a>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/greeting">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>加好友回覆</span>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-right navbar-items align-items-center h-100">
            <li class="nav-item d-flex align-items-center h-100 dropdown">
                <a class="nav-link dropdown-toggle" id="settingsDropdownMenuButton" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-user">
                    <a class="dropdown-item" href="/setting">
                        <i class="fa fa-user fa-fw"></i>
                        <span>設定</span>
                    </a>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/signout">
                        <i class="fa fa-sign-out-alt fa-fw"></i>
                        <span>登出</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header> -->
