<div class="chsr toolbar">
    <nav class="chsr navbar navbar-light" role="navigation">
        <ul class="nav navbar-left navbar-items align-items-center h-100">
            <li class="nav-item d-flex align-items-center h-100">
                <a class="navbar-brand white ml-3" href="/">
                    <span>Chatshier</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/chat">
                    <i class="fas fa-comment-dots fa-fw"></i>
                    <span>聊天室</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/calendar">
                    <i class="far fa-calendar-alt fa-fw"></i>
                    <span>行事曆</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/ticket">
                    <i class="fa fa-list-ul fa-fw"></i>
                    待辦事項
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100">
                <a class="nav-link" href="/analyze">
                    <i class="fa fa-chart-bar fa-fw"></i>
                    <span>訊息分析</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center h-100 dropdown">
                <a class="nav-link dropdown-toggle" id="messagesDropdownMenuButton" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>訊息</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdownMenuButton">
                    <a class="dropdown-item" href="/compose">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>群發</span>
                    </a>
                    <hr class="divider">
                    <a class="dropdown-item" href="/autoreply">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>自動回覆</span>
                    </a>
                    <hr class="divider">
                    <a class="dropdown-item" href="/keywordsreply">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>關鍵字回覆</span>
                    </a>
                    <hr class="divider">
                    <a class="dropdown-item" href="/greeting">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>加好友回覆</span>
                    </a>
                    <!-- <hr class="divider">
                    <a class="dropdown-item" href="/template">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>自訂Line樣板</span>
                    </a> -->
                </div>
            </li>
        </ul>
        <ul class="nav navbar-right navbar-items align-items-center h-100">
            <li class="nav-item d-flex align-items-center h-100 dropdown">
                <a class="nav-link dropdown-toggle" id="settingsDropdownMenuButton" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-user">
                    <a class="dropdown-item" href="/setting">
                        <i class="fa fa-user fa-fw"></i>
                        <span>設定</span>
                    </a>
                    <hr class="divider">
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-sign-out-alt fa-fw"></i>
                        <span>登出</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>
