<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="css/analyze.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/sidemenu.ejs %>

        <div class="ml-auto w-100 page-wrapper analyze-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <h3 class="page-title">分析頁面</h3>
            <div class="card analyze-body">
                <div class="card-body">
                    <div class="tooltip-container">
                        <div class="dropdown app-dropdown app-view">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="apps_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>
                                <span class="dropdown-text">請選擇分析來源</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="apps_dropdown"></div>
                        </div>

                        <div class="date-wrapper">
                            <div class="date-group">
                                <div class="input-group date" id="start_datetime_picker">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            開始時間
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="start_datetime" />
                                    <span class="input-group-addon input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="date-group">
                                <div class="input-group date" id="end_datetime_picker">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            結束時間
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" name="end_datetime_picker" />
                                    <span class="input-group-addon input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-group">
                        <button class="btn btn-info btn-view view-month" disabled>單位：月</button>
                        <button class="btn btn-info btn-view view-date" disabled>單位：日</button>
                        <button class="btn btn-info btn-view view-hour" disabled>單位：小時</button>
                        <button class="btn btn-info btn-view view-time" disabled>每時段總訊息數</button>
                        <button class="btn btn-info btn-view view-cloud" disabled>文字頻率分析</button>
                    </div>

                    <div class="chart-container">
                        <div class="chart-body" id="chartBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/js/wordfreq.worker.js"></script>
    <script src="lib/js/wordcloud2.js"></script>
    <script src="js/analyze.js"></script>
</body>

</html>