<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <%# 自己的code%>
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/analyze.css" />
    <link rel="stylesheet" href="stylesheets/partials/firebase-disable.css" />
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;background-color:#00c300">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color:white;"> Chatshier </a>
        </div>
        <ul class="nav navbar-top-links navbar-left">
          <li>
            <a class="nav-link" href="/chat">| <i class="fa fa-commenting fa-fw"></i> 聊天室</a>
          </li>
          <li>
            <a class="nav-link" href="/calendar">| <i class="fa fa-calendar fa-fw"></i> 行事曆</a>
          </li>
          <li>
            <a class="nav-link" href="/ticket">| <i class="fa fa-list-ul fa-fw"></i> 待辦事項</a>
          </li>
          <li>
            <a class="nav-link" href="/analyze">| <i class="fa fa-bar-chart fa-fw"></i> 訊息分析</a>
          </li>
          <li id="nav-message">
            <a class="nav-link" href="#">| <i class="fa fa-commenting fa-fw"></i> 訊息</a>
          </li>
          <!-- <li class="sub-tag" style="display:none; font-size: 12px; line-height: auto;">
            <a class="nav-link" href="/message_overview"> 總覽</a>
          </li> -->
          <li class="sub-tag"  style="display:none; font-size: 12px; line-height: auto;">
            <a class="nav-link" href="/message_autoreply"> 自動回覆</a>
          </li>
          <li class="sub-tag"  style="display:none; font-size: 12px; line-height: auto;">
            <a class="nav-link" href="/message_keywordsreply"> 關鍵字回覆</a>
          </li>
          <li class="sub-tag"  style="display:none; font-size: 12px; line-height: auto;">
            <a class="nav-link" href="/message_add_friend_reply"> 加好友回覆</a>
          </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-cog fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="/setting"><i class="fa fa-user fa-fw"></i> 設定</a></li>
              <li class="divider"></li>
              <li><a href="/login" id="signoutBtn"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div id="home">
      <h3> 分析頁面</h3>
      <div class="row" id="time-container">
        <div class="col-sm-3">
          <p>請選擇時段，無選擇代表全選</p>
        </div>
        <div class="col-sm-3">
          <p>從: </p>
          <input type="date" class="select-time" id="start"/>
        </div>
        <div class="col-sm-3">
          <p>至: </p>
          <input type="date" class="select-time" id="end"/>
        </div>
        <div class="col-sm-2" id="error-message" hidden>
          <p>開始時段須比結束時段早</p>
        </div>
      </div>
      <div class="row" id="btn-container">
        <div class="col-sm-2">
          <button class="btn btn-info" id="view-month" disabled>以月份為最小單位</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" id="view-date" disabled>以一日為最小單位</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" id="view-hour" disabled>以小時為最小單位</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" id="view-time" disabled>只顯示小時</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" id="view-cloud" disabled>文字雲</button>
        </div>
      </div>
      <div class="container" id="chart-container">
        <div id="chartdiv">
        </div>
      </div>
    </div>
    <% include ../views/partials/firebase_disable.ejs %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="bendors/wordcloud/wordfreq.worker.js"></script>
    <script src="bendors/wordcloud/wordcloud2.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="javascripts/firebaseAuth.js"></script>
    <script src="javascripts/navigation.js"></script>
    <script src="javascripts/analyze.js"></script>
    <script src="javascripts/partials/firebase-disable.js"></script>
  </body>
</html>
