<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/_main.css" />
    <link rel="stylesheet" href="stylesheets/analyze.css" />
    <link rel="stylesheet" href="stylesheets/partials/firebase-disable.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div id="home">
        <h3> 分析頁面</h3>
        <div class="row" id="time-container">
            <div class="col-sm-3">
                <p>請選擇時段</p>
            </div>
            <div class="col-sm-3">
                <p>從: </p>
                <input type="date" class="select-time" id="analyze_start_time" />
            </div>
            <div class="col-sm-3">
                <p>至: </p>
                <input type="date" class="select-time" id="analyze_end_time" />
            </div>
            <div class="col-sm-2" id="error_message" hidden>
                <p>開始時段須比結束時段早</p>
            </div>
        </div>
        <div class="row" id="btn-container">
            <div class="col-sm-2">
                <button class="btn btn-info" id="view_month" disabled>以月份為最小單位</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" id="view_date" disabled>以一日為最小單位</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" id="view_hour" disabled>以小時為最小單位</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" id="view_time" disabled>只顯示小時</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" id="view_cloud" disabled>文字雲</button>
            </div>
        </div>
        <div class="container" id="chart-container">
            <div id="chartdiv">
            </div>
        </div>
    </div>
    <% include ../views/partials/firebase_disable.ejs %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="lib/wordcloud/wordfreq.worker.js"></script>
    <script src="lib/wordcloud/wordcloud2.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/analyze.js"></script>
    <script src="js/partials/firebase-disable.js"></script>
</body>

</html>