<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <% include ../views/partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="css/timetablejs.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/appointment.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <!-- [status filter] -->
            <div class="container my-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="mb-4 pt-3 px-3">預約系統</h3>
                        <p class="mb-3 pt-0 px-3">首頁 / 預約</p>
                        <p class="mb-3 pt-0 px-3">設定產品與其成員的預約時間</p>
                    </div>

                    <div class="px-3 my-3 dropdown app-dropdown" id="appSelector">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="appsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-text">請選擇聊天機器人</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="appsDropdown"></div>
                    </div>

                    <!-- <div class="px-3 my-3 dropdown product-dropdown" id="productSelector">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-text">請選擇產品</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="productsDropdown"></div>
                    </div> -->

                    <div class="px-3 my-3" id="searchWidget">
                        <div class="search-add mb-2">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="text" class="search-bar align-middle" placeholder="搜尋" aria-hidden="true">
                            <button type="button" id="add-btn" class="btn btn-light btn-border inner-add insert" data-toggle="modal" data-target="#appointmentAddModal" aria-hidden="true" disabled="true">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>

                        <!-- 成員名單 -->
                        <div id="all-member-list">
                            <div>
                                <h5>產品：牙醫 <i class="fas fa-trash-alt text-danger float-right cursor-pointer my-2 mx-1"></i></h5>
                                <hr/>
                                <div id="牙醫"></div>
                            </div>
                            <div>
                                <h5>產品：醫美 <i class="fas fa-trash-alt text-danger float-right cursor-pointer my-2 mx-1"></i></h5>
                                <hr/>
                                <div id="醫美"></div>
                            </div>
                            <div>
                                <h5>產品：皮膚 <i class="fas fa-trash-alt text-danger float-right cursor-pointer my-2 mx-1"></i></h5>
                                <hr/>
                                <div id="皮膚"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="chsr modal fade compose-modal" id="appointmentAddModal" tabindex="-1" role="dialog" aria-labelledby="appointmentAddModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="appointmentAddModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="app-select" class="col-form-label font-weight-bold">目標機器人:</label>
                        <div class="select-container">
                            <select class="form-control" id="app-select"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product-select" class="col-form-label font-weight-bold">目標產品:</label>
                        <div class="select-container">
                            <select class="form-control" id="product-select">
                                <option value="NEW"> -- 新產品 -- </option>
                                <option value="牙醫"> 牙醫 </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group product-add">
                        <label for="insert-product-name" class="col-form-label font-weight-bold">產品名稱:</label>
                        <div class="input-container">
                            <input class="form-control" type="text" id="insert-product-name" placeholder="請輸入名稱，按Enter新增產品。" />
                        </div>
                    </div>

                    <div class="card member-add d-none">
                        <div class="form-group">
                            <label for="insert-task-name" class="col-form-label font-weight-bold ml-3">成員:</label>
                            <div class="input-container px-3">
                                <input class="form-control" type="text" id="insert-member-name" placeholder="請輸入新成員名稱，按Enter新增。" />
                            </div>
                        </div>
                        <ul class="list-group list-group-flush" id="member-list"></ul>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="renew">重新設定</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">完成設定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chsr modal fade" id="dialog_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">取消</button>
                    <button type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/modals/error_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/timetable.js"></script>
    <script src="js/appointment.js"></script>
</body>

</html>