<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/sb-admin-2.css">
    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/partials/firebase-disable.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div id="home">
        <h3> 自動回覆訊息</h3>
        <p>當用戶對LINE@傳送訊息，訊息將自動回覆</p>
        <button type="button" class="btn btn-default inner-add" data-toggle="modal" data-target="#quickAdd">
            <span class="fa fa-plus fa-fw"></span> 新增自動回覆
        </button>
        <div class="modal fade" id="quickAdd" tabindex="-1" role="dialog" aria-labelledby="quickAddTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quickAddTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="col-2 col-form-label">App:</label>
                                <div class="col-4">
                                    <select class="form-control" id="app-select">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modal-task-name" class="col-2 col-form-label">事件名稱(不可重複):</label>
                                <div class="col-4">
                                    <input class="form-control" type="text" value="" id="modal-task-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modal-datetime">傳送時間:</label><br>
                                <form style="padding:3px; height:80px">
                                    <input type="checkbox" name="Dateandtime" value="Time"> 傳送日期: <input type="datetime-local" id="starttime" style="width:35%" /> - <input type="datetime-local" id="endtime" style="width:35%" />
                                </form>
                            </div>
                            <div class="form-group">
                                <label for="modal-text">自動回覆訊息:  </label>
                                <div id="text" style="display:block">
                                    <input class="form-control" type="text" value="" id="enter-text" style="width:50%;height:50px">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modal-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group" hidden>
                                <label class="col-2 col-form-label">APP ID</label>
                                <span id="edit-appid"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label class="col-2 col-form-label">Autoreply ID</label>
                                <span id="edit-autoreplyid"></span>
                            </div>
                            <div class="form-group">
                                <label for="edit-task-title" class="col-2 col-form-label">標題:  </label>
                                <div class="col-4">
                                    <input class="form-control" type="text" value="" id="edit-taskTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-task-time" class="col-2 col-form-label">開始時間:  </label>
                                <div class="col-4">
                                    <input class="form-control" type="datetime-local" id="edit-taskStart" style="width:50%" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-task-time" class="col-2 col-form-label">結束時間:  </label>
                                <div class="col-4">
                                    <input class="form-control" type="datetime-local" id="edit-taskEnd" style="width:50%" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-task-content" class="col-2 col-form-label">訊息內容:  </label>
                                <div class="col-4">
                                    <input class="form-control" type="text" value="" id="edit-taskContent">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="edit-submit">更改</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="autoreply-tables"></div>
    </div>
    <style>
        table {
            margin-top: 2%;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        th {
            width: 15%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2%;
        }
        
        body {
            font-family: "Lato", sans-serif;
        }
        /* Style the tab */
        
        div.tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            height: auto;
        }
        /* Style the buttons inside the tab */
        
        div.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
        /* Change background color of buttons on hover */
        
        div.tab button:hover {
            background-color: #ddd;
        }
        /* Create an active/current tablink class */
        
        div.tab button.active {
            background-color: #ccc;
        }
        /* Style the tab content */
        
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            height: 500px;
        }
        /* Style the close button */
        
        .topright {
            float: right;
            cursor: pointer;
            font-size: 20px;
        }
        
        .topright:hover {
            color: red;
        }

        .table-header {
            width: 15%;
            padding: 2%;
        }
    </style>
    <% include ../views/partials/firebase_disable.ejs %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/autoreply.js"></script>
    <script src="js/partials/firebase-disable.js"></script>
</body>

</html>