<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-standalone.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="lib/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="lib/css/fullcalendar.print.min.css" media="print" />
    <link rel="stylesheet" href="css/sb-admin-2.css">
    <link rel="stylesheet" href="css/_main.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>

    <div id="calendar-wrap">
        <div id="calendar"></div>
    </div>

    <% include ../views/partials/calendar_modal.ejs %>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/js/fullcalendar.min.js"></script>
    <script src="lib/js/fullcalendar-locale-all.min.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/helpers/restful_api.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/sb-admin-2.js"></script>
</body>

</html>