<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <% include ../views/partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper calendar-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <div class="calendar-body" id="calendarBody"></div>
        </div>
    </div>

    <% include ../views/partials/modals/calendar_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
    <script src="js/helpers/google_client.js"></script>
    <script src="js/helpers/google_calendar.js"></script>
    <script src="js/calendar.js"></script>
</body>

</html>