<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link href='stylesheets/fullcalendar.min.css' rel='stylesheet' />
    <link href='stylesheets/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <!-- elaine修改 新增jquery-ui主題-->
    <link rel="stylesheet" href='https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/_main.css">
    <link rel="stylesheet" href="stylesheets/calendar.css">
</head>
<style type="text/css">
    .font-red {
        color: red;
    }
</style>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div id="calendar-wrap">
        <div id='calendar'></div>
    </div>
    <% include ../views/partials/calendar_modal.ejs %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/partials/restful_api.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/sb-admin-2.js"></script>
</body>

</html>