<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="lib/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="lib/css/fullcalendar.print.min.css" media="print" />
    <link rel="stylesheet" href="css/_main.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>

    <div class="calendar-wrapper">
        <div class="calendar-body" id="calendarBody"></div>
    </div>

    <% include ../views/partials/modals/calendar_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/js/fullcalendar.min.js"></script>
    <script src="lib/js/fullcalendar-locale-all.min.js"></script>
    <script src="js/helpers/google_client.js"></script>
    <script src="js/helpers/google_calendar.js"></script>
    <script src="js/calendar.js"></script>
</body>

</html>