<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />
    
    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="css/chat.css" />
    <link rel="stylesheet" href="css/partials/ticket_edit_modal.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/sidemenu.ejs %>

        <div class="ml-auto w-100 page-wrapper chat-wrapper" id="chatWrapper">
            <% include ../views/partials/toolbar.ejs %>

            <div class="chat-area">
                <!-- <div class="chat-app-list" id="chatAppList">
                    <div class="chat-app-item" open="true" rel="group" data-toggle="tooltip" data-placement="right" title="內部群組">
                        <img class="software-icon" src="image/logo-no-transparent.png">
                    </div>
                    <div class="chat-app-item" open="true" rel="all" data-toggle="tooltip" data-placement="right" title="全部">
                        <img class="software-icon" src="image/message.png">
                    </div>
                    <div class="chat-app-item" open="true" rel="unread" data-toggle="tooltip" data-placement="right" title="未讀">
                        <img class="software-icon" src="image/email.png">
                    </div>
                    <div class="chat-app-item" open="true" rel="assigned" data-toggle="tooltip" data-placement="right" title="已指派">
                        <img class="software-icon" src="image/check.png">
                    </div>
                    <div class="chat-app-item" open="true" rel="unassigned" data-toggle="tooltip" data-placement="right" title="未指派">
                        <img class="software-icon" src="image/close.png">
                    </div>
                </div>
                <div class="d-flex flex-column text-center person column" id="person">
                    <div class="search message-search">
                        <input type="text" class="search-box" placeholder="搜尋文字訊息...">
                        <div class="search-results d-none">
                            <div class="number">
                                <span class="current-number" id="currentNumber">0</span>
                                <span class="slash-number">/</span>
                                <span class="total-number" id="totalNumber">0</span>
                            </div>
                            <i class="fas fa-chevron-up grey" aria-hidden="true"></i>
                            <i class="fas fa-chevron-down grey" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="tablinks-area">
                        <ol class="list-group" id="clients"></ol>
                    </div>
                </div> -->
    
                <div class="chatroom-container">
                    <div class="chat-content-panel d-none col px-0 animated slideInLeft" id="chatContentPanel">
                        <!-- <div class="consumer-profile">
                            <h4 class="display-name"></h4>
                        </div> -->
                        <div class="chatroom-body"></div>
                        <div class="message-input-container">
                            <div class="message-input form-upper">
                                <div class="media-container">
                                    <button data-id="file-image" data-type="image" id="attImg" class="media-btn">
                                        <i class="far fa-file-image" aria-hidden="true"></i>
                                    </button>
                                    <button data-id="file-video" data-type="video" id="attVid" class="media-btn">
                                        <i class="far fa-file-video" aria-hidden="true"></i>
                                    </button>
                                    <button data-id="file-audio" data-type="audio" id="attAud" class="media-btn">
                                        <i class="far fa-file-audio" aria-hidden="true"></i>
                                    </button>
                                    <input class="ghost-file d-none" type="file" id="file-image" data-type="image" accept="image/*" />
                                    <input class="ghost-file d-none" type="file" id="file-video" data-type="video" accept="video/mp4,video/mpeg4" />
                                    <input class="ghost-file d-none" type="file" id="file-audio" data-type="audio" accept="audio/mp3,video/mpeg3" />
                                </div>
                            </div>
                            <div class="message-input form-lower">
                                <input class="submit-message-input px-2" type="text" placeholder="輸入訊息..." size="35" id="submitMessageInput" />
                                <i class="submit-message-btn p-0 ml-2" id="submitMessageBtn"></i>
                            </div>
                        </div>
                    </div>

                    <div class="profile-panel d-none col px-0 animated slideInRight" id="profilePanel">
                        <div class="profile-wrapper p-2"></div>
                    </div>

                    <div class="ticket-panel d-none col px-0 animated slideInRight" id="ticketPanel">
                        <div class="ticket-wrapper p-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/modals/ticket_add_modal.ejs %>
    <% include ../views/partials/modals/ticket_edit_modal.ejs %>
    <% include ../views/partials/modals/error_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/chat.js"></script>
</body>

</html>