<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
        <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-standalone.css">
        <link rel="stylesheet" href="css/sb-admin-2.css" />
        <link rel="stylesheet" href="css/_main.css" />
        <link rel="stylesheet" href="css/table.css" />
        <link rel="stylesheet" href="css/compose.css" />
        <link rel="stylesheet" href="css/partials/firebase-disable.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
        <% include ../views/partials/loading.ejs %>

            <div id="home">
                <!-- [status filter] -->
                <div class="container margin-top">
                    <div class="row panel">
                        <div class="title title-top">
                            <h3 class="padding-lr h3-padding">預約群發</h3>
                            <hr class="hr-margin-bottom">
                            <p class="address padding-lr">首頁 / 訊息 /群發 </p>
                            <p class="address padding-lr">新增、編輯傳送到LINE@的訊息</p>
                        </div>
                        <div class="padding-lr" id="view-all">
                            <div class="dropdown app-dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="apps_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="dropdown-text">請選擇應用程式</span>
                <span class="caret"></span>
            </button>
                                <ul class="dropdown-menu" aria-labelledby="apps_dropdown"></ul>
                            </div>
                        </div>
                        <div class="padding-lr" id="view-all">
                            <div class="search-add">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="text" class="search-bar" placeholder="搜尋" aria-hidden="true">
                                <button type="button" id="add-btn" class="btn btn-default fa fa-plus inner-add" data-toggle="modal" data-target="#quickAdd" aria-hidden="true" disabled="disabled"></button>
                            </div>

                            <div class="chsr table">
                                <table class="chsr table" id="composes_reservation_table">
                                    <caption>預約</caption>
                                    <thead>
                                        <tr>
                                            <th>內容</th>
                                            <th>時間</th>
                                            <th>編輯</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="chsr table" id="composes_history_table">
                                    <caption>歷史</caption>
                                    <thead>
                                        <tr>
                                            <th>內容</th>
                                            <th>時間</th>
                                            <th>編輯</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="chsr table" id="composes_draft_table">
                                    <caption>草稿</caption>
                                    <thead>
                                        <tr>
                                            <th>內容</th>
                                            <th>時間</th>
                                            <th>編輯</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="quickAdd" tabindex="-1" role="dialog" aria-labelledby="quickAddTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="quickAddTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <!-- Form Content -->
                            <div class="form-group">
                                <label class="col-2 col-form-label">App:</label>
                                <div class="col-4">
                                    <select class="form-control" id="app-select">
                    <option>請選擇:</option>>
                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>篩選發送:</label>
                                <div class="col-4">
                                    <div>
                                        <input type="radio" name="who-send" id="send-all" checked="true" onclick="document.getElementById('limituser').style.display='none'"> <label for="send-all">全部發送</label>
                                        <input type="radio" name="who-send" id="send-somebody" onclick="document.getElementById('limituser').style.display='block'"> <label for="send-somebody">限制發送對象</label>
                                    </div>
                                </div>
                            </div>
                            <!-- LIMIT USER -->
                            <div id="limituser" class="limituser">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="tag-area-style-left">
                                                <p><b>客戶分類條件</b></p>
                                                <select class="select-area-style" multiple id="screen_tags">
                                <option value="none">不指定</option>
                            </select>
                                            </div>
                                            <div class="tag-area-style-right">
                                                <p><b>VIP等級</b></p>
                                                <select class="select-area-style" multiple id="vip_level">
                                <option value="none">不指定</option>
                            </select>
                                            </div>
                                        </td>
                                </table>
                            </div>
                            <!-- 時間 -->
                            <div class="form-group">
                                <label>設定傳送時間:</label><br>
                                <div>
                                    <input type="radio" name="when-send" id="send-now" checked='true'> <label for="send-now">立刻傳送</label>
                                </div>
                                <div>
                                    <input type="radio" name="when-send" id="send-sometime"> <label for="send-sometime">傳送時間:</label>
                                    <div class="input-group date" id="send-datetime-picker">
                                        <input type="text" class="form-control" name="end_datetime" id="send-time" value="Time" required="">
                                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>


                            </div>
                            <section>
                                <!--TEXT AREA -->
                                <div>
                                    <table id="inputText"></table>
                                </div>
                            </section>
                            <table>
                                <td class="add-msg-btn-padding">
                                    <p>一次可以發送三則訊息</p>
                                    <p class="error-msg"><b>超過訊息上限</b></p>
                                    <button class="add-text-btn-style" id="btn-text">文字</button>
                                </td>
                            </table>
                            <div class="form-check">
                                <label class="form-check-label">
                <input id="checkbox_value" class="form-check-input" type="checkbox" name="modal-draft">
                是否儲存為草稿？
            </label>
                            </div>
                            <p class="error-input"></p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-info" id="modal-submit">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View Modal -->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewModalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <!-- 編號 -->
                                <div class="form-group">
                                    <label for="task-name" class="col-2 col-form-label">篩選發送: </label>
                                    <input disabled="disabled" class="form-control" id="view-lmtuser" value="-">
                                </div>
                                <!-- 任務內容 -->
                                <div id="任務內容" class="form-group">
                                    <label for="task-name" class="col-2 col-form-label">任務內容: </label>
                                </div>
                                <!-- 客戶分類條件 -->
                                <div class="form-group">
                                    <label for="tags">客戶分類條件: </label>
                                    <input disabled="disabled" class="form-control" id="view-tags" value="">
                                </div>
                                <!-- 狀態 -->
                                <div class="form-group">
                                    <label for="status">狀態: </label>
                                    <input disabled="disabled" class="form-control" id="view-stat" value="111">
                                </div>
                                <!-- 負責人 -->
                                <div class="form-group">
                                    <label for="owner" class="col-2 col-form-label">負責人: </label>
                                    <input disabled="disabled" class="form-control" id="view-owne" value="">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <!-- 時間 -->
                                <div class="form-group">
                                    <label for="edit-time">時間: </label>
                                    <input type="datetime-local" class="form-control datetime-style" id="edit-time" value="TIME" />
                                    <label for="edit-time">訊息: </label>
                                    <textarea class="compose-textarea" id="edutinput"></textarea>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="modal-draft">
                    是否儲存為草稿？
                </label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="edit-submit">確認</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dialog_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 id="textContent"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">確定</button>
                            <button type="button" class="btn btn-secondary">取消</button>
                        </div>
                    </div>
                </div>
            </div>

            <% include ../views/partials/modals/error_modal.ejs %>
                <% include ../views/partials/firebase_disable.ejs %>

                    <% include ../views/partials/require_js.ejs %>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
                        <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
                        <script src="js/navigation.js"></script>
                        <script src="js/compose.js"></script>
                        <script src="js/partials/firebase-disable.js"></script>
</body>

</html>