<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-datetimepicker-fixbs4.css">
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/compose.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/sidemenu.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <!-- [status filter] -->
            <div class="container mt-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="padding-lr h3-padding">預約群發</h3>
                        <p class="address padding-lr">首頁 / 訊息 /群發 </p>
                        <p class="address padding-lr">新增、編輯傳送到LINE@的訊息</p>
                    </div>
                    <div class="px-5 my-3" id="appSelector">
                        <div class="dropdown app-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="apps_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-text">請選擇應用程式</span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="apps_dropdown"></div>
                        </div>
                    </div>
                    <div class="px-5 my-3" id="searchWidget">
                        <div class="search-add mb-2">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="text" class="search-bar" placeholder="搜尋    輸入完請按Enter鍵" aria-hidden="true">
                            <button type="button" id="add-btn" class="btn btn-light btn-border inner-add" data-toggle="modal" data-target="#quickAdd" aria-hidden="true" disabled="true">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                        <div class="chsr table">
                            <table class="chsr table" id="composes_reservation_table">
                                <caption>預約</caption>
                                <thead>
                                    <tr>
                                        <th>內容</th>
                                        <th>時間</th>
                                        <th>分類項目</th>
                                        <th>編輯</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <table class="chsr table" id="composes_history_table">
                                <caption>歷史</caption>
                                <thead>
                                    <tr>
                                        <th>內容</th>
                                        <th>時間</th>
                                        <th>分類項目</th>
                                        <th>編輯</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <table class="chsr table" id="composes_draft_table">
                                <caption>草稿</caption>
                                <thead>
                                    <tr>
                                        <th>內容</th>
                                        <th>時間</th>
                                        <th>分類項目</th>
                                        <th>編輯</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="quickAdd" tabindex="-1" role="dialog" aria-labelledby="quickAddTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quickAddTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form Content -->
                    <div class="form-group">
                        <label class="col-form-label">App:</label>
                        <div class="select-container">
                            <select class="form-control" id="app-select"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>篩選發送:</label>
                        <div class="radio-container">
                            <input type="radio" name="who-send" id="send-all" checked="true" rel="limit-user"> <label for="send-all">全部發送</label>
                            <input type="radio" name="who-send" id="send-somebody" rel="limit-user"> <label for="send-somebody">限制發送對象</label>
                        </div>
                    </div>
                    <!-- LIMIT USER -->
                    <div id="limit-user" class="card d-none">
                        <div class="card-header">條件</div>
                        <div class="card-body" id="custom-fields"></div>
                    </div>
                    <!-- 時間 -->
                    <div class="form-group">
                        <label>設定傳送時間:</label><br>
                        <div>
                            <input type="radio" name="when-send" id="send-now" checked='true'> <label for="send-now">立刻傳送</label>
                        </div>
                        <div>
                            <input type="radio" name="when-send" id="send-sometime"> <label for="send-sometime">傳送時間:</label>
                            <div class="input-group date" id="send-datetime-picker">
                                <input type="text" class="form-control" name="end_datetime" id="send-time" value="Time" required="">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </span>
                            </div>
                        </div>


                    </div>
                    <section>
                        <!--TEXT AREA -->
                        <div>
                            <table id="inputText"></table>
                        </div>
                    </section>
                    <table>
                        <td class="add-msg-btn-padding">
                            <p>一次可以發送三則訊息</p>
                            <p class="error-msg"><b>超過訊息上限</b></p>
                            <button class="btn btn-light btn-border add-text-btn-style" id="addComposeText">
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                    </table>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="checkbox_value" class="form-check-input" type="checkbox" name="modal-draft">
                            是否儲存為草稿？
                        </label>
                    </div>
                    <p class="error-input"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" id="modal-submit">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- 時間 -->
                        <div class="date-group">
                            <div class="input-group date" id="start_datetime_picker">
                                <span class="input-group-addon">時間</span>
                                <input type="text" class="form-control" name="start_datetime" id="edit-time" value=""/>
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <label for="custom-fields">篩選條件: </label>
                        <div id="edit-limit-user" class="card">
                            <div class="card-header">條件</div>
                            <div class="card-body" id="edit-custom-fields"></div>
                        </div>
                        <div class="form-group">
                            <label for="text">訊息: </label>
                            <textarea class="compose-textarea" id="edutinput"></textarea>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="modal-draft">
                                是否儲存為草稿？
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="edit-submit">確認</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-secondary">取消</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/modals/error_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/compose.js"></script>
</body>

</html>