<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <% include ../views/partials/favicon.ejs %>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />
    <style>
        .data-container {
            max-width: 30rem; }
    </style>
</head>

<body>
    <div class="mt-3 page-title text-center">
        <h4>基本資料填寫頁面</h4>
    </div>

    <form class="flex-column align-items-center user-form d-none" id="userForm">
        <input type="hidden" name="chatroomId" />
        <input type="hidden" name="platformUid" />
        
        <div class="w-100 mt-3 px-3 data-container">
            <div class="row form-group">
                <label class="col-12 col-sm-3 font-weight-bold control-label" for="consumerName">
                    <span class="text-danger">*</span>
                    <span>姓名:</span>
                </label>
                <div class="col-12 col-sm-9">
                    <input class="form-control"
                        type="text" 
                        id="consumerName"
                        name="consumerName"
                        placeholder="請填寫真實姓名"
                        minlength="1"
                        maxlength="50"
                        required />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-12 col-sm-3 control-label" for="consumerEmail">
                    <span class="font-weight-bold">Email:</span>
                </label>
                <div class="col-12 col-sm-9">
                    <input class="form-control"
                        type="email"
                        id="consumerEmail"
                        name="consumerEmail"
                        placeholder="Email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-12 col-sm-3 font-weight-bold control-label" for="consumerPhone">
                    <span class="text-danger">*</span>
                    <span>手機:</span>
                </label>
                <div class="col-12 col-sm-9">
                    <input class="form-control"
                        type="tel"
                        id="consumerPhone"
                        name="consumerPhone"
                        placeholder="手機"
                        pattern="^0\d{9,}$"
                        minlength="10"
                        maxlength="10"
                        required />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-12 col-sm-3 control-label" for="consumerAddress">
                    <span class="font-weight-bold">地址:</span>
                </label>
                <div class="col-12 col-sm-9">
                    <div class="d-flex tw-zipcode" id="twZipcode"></div>
                    <input class="mt-2 form-control"
                        type="text"
                        id="consumerAddress"
                        name="consumerAddress"
                        placeholder="地址" />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-12 col-sm-3 font-weight-bold control-label">
                    <span class="text-danger">*</span>
                    <span>生日:</span>
                </label>
                <div class="d-flex birthday-picker col-12 col-sm-9">
                    <select class="mr-1 form-control birth-year" name="birthYear" required></select>
                    <select class="mx-1 form-control birth-month" name="birthMonth" required></select>
                    <select class="ml-1 form-control birth-day" name="birthDay" required></select>
                    <input type="hidden" name="birthdate" />
                </div>
            </div>

            <div class="row form-group">
                <label class="col-12 col-sm-3 control-label" for="gender">
                    <span class="font-weight-bold">性別:</span>
                </label>

                <div class="col-12 col-sm-9">
                    <label for="genderMale">
                        <input type="radio"
                            name="consumerGender"
                            id="genderMale"
                            value="MALE" />
                        <span class="mx-2">男</span>
                    </label>

                    <label for="genderFemale">
                        <input type="radio"
                            name="consumerGender"
                            id="genderFemale"
                            value="FEMALE" />
                        <span class="mx-2">女</span>
                    </label>
                </div>
            </div>

            <div class="form-group text-right">
                <button type="button" class="btn btn-warning btn-cancel">
                    <i class="fas fa-times fa-fw"></i>
                    <span>下次再填</span>
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check fa-fw"></i>
                    <span>送出</span>
                </button>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@2.2.0/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/mobile-detect.js/latest/mobile-detect.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="lib/js/jquery.twzipcode.min.js"></script>
    <script src="lib/js/birthday-picker.min.js"></script>
    <script src="config/url-config.js"></script>

    <script type="text/javascript">
        !window.urlConfig && (window.urlConfig = {});
        !window.urlConfig.apiUrl && (window.urlConfig.apiUrl = window.location.origin);

        var fields;
        var messager;
        var urlParams = (function getUrlParams() {
            var pl = /\+/g;
            var search = /([^&=]+)=?([^&]*)/g;
            var query = window.location.search.substring(1);

            function decode(s) {
                return decodeURIComponent(s.replace(pl, ' '));
            }

            var match;
            var urlParams = {};
            while (match = search.exec(query)) {
                urlParams[decode(match[1])] = decode(match[2]);
            }
            return urlParams;
        })();

        var platformUid;
        try {
            var payload = window.jwt_decode(urlParams.t);
            platformUid = payload.uid;
        } catch (ex) {
            platformUid = '';
        }

        function getRequiredData(cb) {
            $.ajax({
                url: window.urlConfig.apiUrl + '/api/database/consumers-form/apps/' + urlParams.aid + '/consumers/' + platformUid,
                cache: false,
                dataType: 'json',
                headers: {
                    Authorization: urlParams.t,
                },
                type: 'GET',
                success: function(res) {
                    cb && cb(void 0, res);
                },
                error: function(err) {
                    console.error(err);
                    cb && cb(err);
                }
            });
        }

        function submitForm(cb) {
            var name = $('#consumerName').val();
            var email = $('#consumerEmail').val() || '';
            var phone = $('#consumerPhone').val();
            var county = $('select[name="county"]').val() || '';
            var district = $('select[name="district"]').val() || '';
            var address = county + district + ($('[name="consumerAddress"]').val() || '');
            var birthYear = $('[name="birthYear"]').val();
            var birthMonth = $('[name="birthMonth"]').val();
            var birthDay = $('[name="birthDay"]').val();
            var birthdayStr = birthYear + '-' + birthMonth + '-' + birthDay;
            var gender = $('[name="consumerGender"]:checked').val() || '';

            var age = (function calculateAge(birthday) {
                var ageDifMs = Date.now() - birthday.getTime();
                var ageDate = new Date(ageDifMs);
                return Math.abs(ageDate.getUTCFullYear() - 1970);
            })(new Date(birthdayStr));

            var putMessager = {
                name: name,
                age: age,
                email: email,
                phone: phone,
                county: county,
                district: district,
                address: address,
                birthday: birthdayStr,
                gender: gender
            };

            $.ajax({
                url: window.urlConfig.apiUrl + '/api/database/consumers-form/apps/' + urlParams.aid + '/consumers/' + platformUid,
                cache: false,
                dataType: 'json',
                headers: {
                    Authorization: urlParams.t,
                },
                type: 'PUT',
                data: putMessager,
                success: function(res) {
                    cb && cb(void 0, res);
                },
                error: function(err) {
                    console.error(err);
                    cb && cb(err);
                }
            });
        }

        function closeForm() {
            document.body.innerHTML = '';
        }

        if (!urlParams.aid || !platformUid || (payload && payload.exp < Date.now())) {
            window.alert('此表單已無法填寫！請關閉頁面，重新操作填寫流程');
            closeForm();
        } else {
            var $birthdayPicker = $('.birthday-picker');
            var $userForm = $('#userForm');

            var updateNumberOfDays = function() {
                var $birthDay = $birthdayPicker.find('[name="birthDay"]').html('');
                var month = $birthdayPicker.find('[name="birthMonth"]').val();
                var year = $birthdayPicker.find('[name="birthYear"]').val();
                var days = (function daysInMonth(year, month) {
                    return new Date(year, month, 0).getDate();
                })(year, month);

                for (var d = 1; d <= days; d++) {
                    $birthDay.append('<option value="' + ('0' + d).slice(-2) + '">' + d + '</option>');
                }
            };

            $(document).ready(function() {
                $(document).on('click', '.btn-cancel', closeForm);

                getRequiredData(function(err, res) {
                    if (err) {
                        return closeForm();
                    }

                    fields = res.data.fields;
                    messager = res.data.messager;

                    $('#consumerName').val((messager.namings && messager.namings[platformUid]) || '');
                    $('#consumerEmail').val(messager.email || '');
                    $('#consumerPhone').val(messager.phone || '');
                    $('[name="consumerGender"][value="' + messager.gender + '"]').prop('checked', true);

                    $('#twZipcode').twzipcode({
                        zipcodeIntoDistrict: false,
                        zipcodeSel: '',
                        countySel: messager.county || '',
                        districtSel: messager.district || '',
                        css: ['form-control col-xs-6', 'form-control col-xs-6', 'd-none']
                    });
                    $('[name="consumerAddress"]').val((messager.address || '').replace(messager.county, '').replace(messager.district, ''));
                    
                    var birthday = messager.birthday || '1970-01-01';
                    var $birthYear = $birthdayPicker.find('[name="birthYear"]');
                    for (var y = new Date().getFullYear(); y >= 1900; y--) {
                        $birthYear.append('<option value="' + y + '">' + y + '</option>');
                    }
                    var birthdaySplits = birthday.split('-');
                    $birthYear.val(birthdaySplits[0]);

                    var $birthMonth = $birthdayPicker.find('[name="birthMonth"]');
                    for (var m = 1; m <= 12; m++) {
                        $birthMonth.append('<option value="' + ('0' + m).slice(-2) + '">' + m + '</option>');
                    }
                    $birthMonth.val(birthdaySplits[1]);
                    updateNumberOfDays();
                    $birthdayPicker.find('[name="birthDay"]').val(birthdaySplits[2]);

                    $birthdayPicker.on('change', '[name="birthYear"], [name="birthMonth"]', function() {
                        updateNumberOfDays();
                    });

                    $userForm.removeClass('d-none').addClass('d-flex');
                });

                $userForm.submit(function(ev) {
                    ev.preventDefault();

                    if (window.confirm('資料填寫無誤，確定送出嗎？')) {
                        submitForm(function() {
                            window.alert('資料更新成功！請關閉此頁面');
                            closeForm();
                        });
                    }
                });
            });
        }
    </script>
</body>

</html>