<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/table.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>

    <div id="home">
        <div class="container mt-5">
            <div class="chsr card">
                <div class="title">
                    <h3 class="padding-lr h3-padding"> 加好友回覆</h3>
                    <p class="address padding-lr"> 首頁 / 訊息 / 加好友回覆</p>
                    <p class="address padding-lr">一次可傳送五則訊息</p>
                </div>
                <div class="px-5 my-3" id="appSelector">
                    <div class="dropdown app-dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="apps_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="dropdown-text">請選擇應用程式</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="apps_dropdown"></div>
                    </div>
                </div>
                <div class="padding-lr chsr table">
                    <table class="chsr table">
                        <thead>
                            <tr>
                                <th scope="col">文字</th>
                                <th scope="col">新增時間</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody id="MsgCanvas"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-secondary">取消</button>
                </div>
            </div>
        </div>
    </div>
    <% include ../views/partials/require_js.ejs %>
    <script src="js/navigation.js"></script>
    <script src="js/greeting.js"></script>
</body>

</html>