<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <script src="js/helpers/chatshier_cookie.js"></script>
    <script src="js/helpers/google_client.js"></script>
    <script src="js/helpers/google_calendar.js"></script>
    <script src="js/logout.js"></script>
</body>

</html>