<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>登出</title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="css/_main.css">
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="js/logout.js"></script>
</body>

</html>