<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/sb-admin-2.css">

    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/partials/firebase-disable.css" />
    <link rel="stylesheet" href="css/message_keywordsreply.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div id="home">
        <h3>關鍵字回覆</h3>
        <p>新增、編輯及刪除關鍵字要回覆的訊息</p>
        <button type="button" class="btn btn-default inner-add" data-toggle="modal" data-target="#keywordreply_add_modal" disabled>
            <span class="fa fa-plus fa-fw"></span>新增關鍵字
        </button>

        <!-- <p>NOTE FOR DEVELOPERS:<br/>
            1. download CSV file 未做(緩）<br/>
            2. 時間功能未(緩)  <br/>
            3. append text msg UI 修改(crashing)<br/>
        </p> -->
        <!-- <div class="tab" style="width:100%; position:absolute; float:top; margin: 6% 1% 1% 0%; padding:1% 0% 1% 1%;">
            <table>
                <tr>
                    <th>下載數據 時間範圍:</th>
                    <td>
                        <form>
                            <input type="datetime-local" id="endDate" style="width:35%;margin:1.5%">~ <input type="datetime-local" id="endDate" style="width:35%">
                            <p style="float:right;padding:1.6%"><a id="csv" rel="nocsv">下載CSV檔</a></p>
                            <p id="nocsv" style="color:red; display:none;position:absolute;margin-left: 1%">此功能暫未開通</p>
                        </form>
                    </td>
                </tr>
            </table>
        </div> -->

        <div class="tab-wrapper">
            <div class="tab">
                <button class="tablinks enabled" rel="keywordreply_open_table">開放</button>
                <button class="tablinks" rel="keywordreply_draft_table">草稿</button>
            </div>
        </div>

        <section>
            <div class="keywordreply-table-wrapper">
                <table class="keywordreply-table" id="keywordreply_open_table">
                    <thead>
                        <tr>
                            <th>關鍵字</th>
                            <th>內容</th>
                            <th>回應次數</th>
                            <th>App</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <table class="keywordreply-table" id="keywordreply_draft_table" hidden>
                    <thead>
                        <tr>
                            <th>關鍵字</th>
                            <th>內容</th>
                            <th>回應次數</th>
                            <th>App</th>
                            <th>編輯</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <!--  <div style="border: 1px solid #dddddd; height:350px">
                    <p style="float:left; margin-left:40%; margin-top: 16%">No set up keywords.</p>
                </div> -->
            </div>
        </section>

        <!-- Add Modal -->
        <div class="modal fade" id="keywordreply_add_modal" tabindex="-1" role="dialog" aria-labelledby="keywordreply_add_modal_title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="keywordreply_add_modal_title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <!-- Form Content -->
                        <div class="form-group">
                            <label for="keywordreply-app-name" class="col-2 col-form-label">目標App:</label>
                            <div class="col-4">
                                <select class="form-control" name="keywordreply-app-name">
                                    <option value=''>載入中...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="keywordreply-keyword" class="col-2 col-form-label">關鍵字:</label>
                            <div class="col-4">
                                <input class="form-control" type="text" name="keywordreply-keyword">
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label for="modal-task-name" class="col-2 col-form-label">
                                副關鍵字:
                                <p>可設定多個關鍵字，請用 ',' 隔開，不需空格。範例：你好,哈囉,嗨</p>
                            </label>

                            <div class="col-4">
                                <div class="col-4" id="subKeyCanvas"></div>
                                <input class="form-control" type="text" value="" id="modal-subKey" />
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label for="modal-text">回覆內容:  </label>
                            <div id="text" style="display:block">
                                <textarea class="form-control" type="text" name="keywordreply-content" style="width:100%; height:100px; resize: vertical"></textarea>
                            </div>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="keywordreply-is-draft">
                                是否儲存為草稿？
                            </label>
                        </div>

                        <span class="text-danger error-msg"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary btn-insert-submit">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="keywordreply_edit_modal" tabindex="-1" role="dialog" aria-labelledby="keywordreply_edit_modal_title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="keywordreply_edit_modal_title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <!-- 關鍵字 -->
                            <div class="form-group">
                                <label for="keywordreply-keyword" class="col-2 col-form-label">關鍵字:  </label>
                                <input class="form-control" type="text" name="keywordreply-keyword">
                            </div>

                            <!-- 副關鍵字 -->
                            <!-- <div class="form-group">
                                <label for="keywordreply-subkeyword" class="col-2 col-form-label">副關鍵字:  </label>
                                <input class="form-control" type="text" name="keywordreply-subkeyword">
                            </div> -->

                            <!-- 回覆內容 -->
                            <div class="form-group">
                                <label for="keywordreply-content" class="col-2 col-form-label">內容:  </label>
                                <div class="col-4">
                                    <textarea class="form-control" type="text" name="keywordreply-content"></textarea>
                                </div>
                            </div>

                            <div class="form-check checkbox-is-draft">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="keywordreply-is-draft">
                                    是否儲存為草稿？
                                </label>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary btn-update-submit">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/partials/restful_api.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/message_keywordsreply.js"></script>
</body>

</html>