<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <% include ../views/partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/richmenu.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <div class="container mt-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="pt-3 pb-0 px-5">圖文選單</h3>
                        <p class="pt-0 pb-4 px-5">首頁 / 訊息 / 圖文選單</p>
                    </div>
                    <div class="px-5 my-3" id="appSelector">
                        <div class="dropdown app-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="appsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-text">請選擇聊天機器人</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="appsDropdown"></div>
                        </div>
                        <div class="search-add mb-2">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="text" class="search-bar" placeholder="搜尋" aria-hidden="true">
                            <button type="button" class="btn btn-light btn-border inner-add" data-toggle="modal" data-target="#quickAdd" aria-hidden="true" disabled="true">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="py-0 px-5 chsr table">
                        <table class="chsr table">
                            <thead>
                                <tr>
                                    <th scope="col">標題</th>
                                    <th scope="col">聊天室選單文字</th>
                                    <th scope="col">連結</th>
                                    <th scope="col">有效時間</th>
                                    <th scope="col">狀態</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody id="richmenu"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new modal -->
    <div class="modal fade" id="richmenu-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quickAddTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- app -->
                        <div class="form-group">
                            <label class="col-2 col-form-label">App:</label>
                            <div class="col-4">
                                <select class="form-control" id="app-select">
                                </select>
                            </div>
                        </div>
                        <!-- status -->
                        <div class="form-group from-row col-sm-12">
                            <label class="col-form-label"><strong>狀態:</strong></label>
                            <select class="form-control" id="richmenu-status">
                                <option value="open" selected>開放</option>
                                <option value="close">關閉</option>
                            </select>
                        </div>
                        <!-- effective period -->
                        <div class="form-group col-sm-6">
                            <label class="col-form-label"><strong>開始時間:</strong></label>
                            <input type="datetime-local" class="form-control" id="start-time">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-form-label"><strong>結束時間:</strong></label>
                            <input type="datetime-local" class="form-control" id="end-time"> 
                        </div>
                        <!-- title -->
                        <div class="form-group col-sm-12">
                            <label class="col-form-label"><strong>標題:</strong></label>
                            <input class="form-control mb-2" type="text" id="title">
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-form-label"><strong>聊天室選單文字:</strong></label>
                            <input class="form-control" type="text" id="chatbar-text">
                        </div>
                        <!-- 圖片種類 -->
                        <div class="row col-sm-12">
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-01.png"/>
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type1" checked>
                                    <strong>圖片種類 1</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-02.png">
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type2">
                                    <strong>圖片種類 2</strong>
                                </label>
                            </div>                            
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-03.png">
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type3">
                                    <strong>圖片種類 3</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-04.png">                                    
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type4">
                                    <strong>圖片種類 4</strong>
                                </label>
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-05.png">                                   
                                    <input type="radio" class="richmenu-type"  name="richmenu-type" value="type5">
                                    <strong>圖片種類 5</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-06.png">                                  
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type6">
                                    <strong>圖片種類 6:</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="col-form-label richmenu-type-label">
                                    <img src="image/type-richmenu-07.png">
                                    <input class="richmenu-type" type="radio" name="richmenu-type" value="type7">
                                    <strong>圖片種類 7</strong>
                                </label>
                            </div>
                        </div>
                        <!-- 內容設定 -->
                            <div class="col-sm-12">
                                <label class="col-form-label"><strong>內容設定:</strong></label>
                                <label class="col-form-label btn btn-light btn-border">
                                    <strong>上傳圖片</strong>
                                    <input type="file" class="image-ghost" id="photo" accept="image/png|image/jpg"/>
                                </label>
                                <i class="fa fa-info-circle btn" aria-hidden="true"></i> 
                            </div>
                        

                        <!-- rich menu photo -->
                            <div class="chsr carousel-inner">
                                <div class="show-richmenu-type"></div>
                                <img class="linebar" src="image/linebar.png">
                            </div>
                        
                        <!-- 內容 -->
                        <div class="content-bar">
                            <div class="form-group col-sm-3 margin-top">
                                <label class="col-form-label">
                                    <input type="radio" name="content" value="richmenu-keyword">
                                    <strong>關鍵字</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3 margin-top">
                                <label class="col-form-label">
                                    <input type="radio" name="content" value="richmenu-url">
                                    <strong>網址</strong></label>
                            </div>
                            <div class="form-group col-sm-3 margin-top">
                                <label class="col-form-label">
                                    <input type="radio" name="content" value="richmenu-text">
                                    <strong>文字</strong>
                                </label>
                            </div>
                            <div class="form-group col-sm-3 margin-top">
                                <label class="col-form-label">
                                    <input type="radio" name="content" value="richmenu-no-ction">
                                    <strong>不設定</strong>
                                </label>
                            </div>
                        </div>
                        

                        <div class="form-group col-sm-12">
                            <select id="richmenu-keyword" class="form-control content-input">
                                <option></option>
                            </select>
                            <input id="richmenu-text" class="form-control content-input" type="text">
                            <input id="richmenu-url" class="form-control content-input" type="url">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modal-save">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end new modal -->
    <div id="dialog_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-secondary">取消</button>
                </div>
            </div>
        </div>
    </div>
    <% include ../views/partials/require_js.ejs %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://mermaidjs.github.io/scripts/mermaid.min.js"></script>
    <script src="js/richmenu.js"></script>
</body>

</html>