<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <%# 自己的code%>
        <link rel="stylesheet" href="stylesheets/_main.css" />
        <link rel="stylesheet" href="stylesheets/richmenu.css" />
        <link rel="stylesheet" href="stylesheets/partials/firebase-disable.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
        <% include ../views/partials/loading.ejs %>
            <div id="home">
                <div class="container margin-top">
                    <div class="row panel">
                        <!-- <div class="col-md-6" id="view-all"> -->
                        <div class="title title-top">
                            <h3 class="padding-lr h3-padding"> 自訂Line Template</h3>
                            <hr class="hr-margin-bottom">
                            <p class="address padding-lr"> 首頁 / 訊息 / 圖文選單</p>

                        </div>
                        <div class="padding-lr" id="view-all">
                            <div class="search-add">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="text" class="template_search_bar " id="exampleInputAmount" value="" placeholder="搜尋" aria-hidden="true">
                                <button type="button" class="btn btn-default fa fa-plus" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                            </div>
                            <div class="tab-content">
                                <div class="table tabcontent">
                                    <table class="table row-color">
                                        <thead>
                                            <tr>
                                                <th scope="col">標題</th>
                                                <th scope="col">聊天室選單文字</th>
                                                <th scope="col">聊天應用程式</th>
                                                <th scope="col">連結</th>
                                                <th scope="col">有效時間</th>
                                                <th scope="col">狀態</th>
                                                <th scope="col">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">中秋節</th>
                                                <td>中秋佳節</td>
                                                <td>LINE-BOT 安妮</td>
                                                <td>月餅，烤肉，訂房，水果，客服，折扣</td>
                                                <td>2018/08/30~2018/09/20</td>
                                                <td>開放</td>
                                                <td>
                                                    <button type="button" class="btn btn-default fa fa-pencil" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                    <button type="button" class="btn btn-default fa fa-trash-o" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">過年送禮</th>
                                                <td>佳節愉快</td>
                                                <td>LINE-BOT 麥克</td>
                                                <td>黑橋牌，超值嚴選，新東陽</td>
                                                <td>2018/01/15~2018/02/28</td>
                                                <td>開放</td>
                                                <td>
                                                    <button type="button" class="btn btn-default fa fa-pencil" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                    <button type="button" class="btn btn-default fa fa-trash-o" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">周年慶</th>
                                                <td>週年慶全面特價</td>
                                                <td>全部</td>
                                                <td>男裝，童裝，玩具，3C，飾品，女裝</td>
                                                <td>2018/03/15~2018/03/28</td>
                                                <td>關閉</td>
                                                <td>
                                                    <button type="button" class="btn btn-default fa fa-pencil" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                    <button type="button" class="btn btn-default fa fa-trash-o" id="show-richmenu-modal" data-toggle="modal" data-target="#richmenu-modal" aria-hidden="true"></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagebtn">
                                        <nav aria-label="Page navigation example">
                                            <ul class="chsr pagination">
                                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- new modal -->
            <div class="modal fade" id="richmenu-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/foo-route" id="richmenu-form">
                                <!-- 編號 -->
                                <div class="form-group" hidden>
                                    <label for="richmenu-id" class="col-form-label">ID</label>
                                    <input id="richmenu-id"></span>
                                </div>
                                <!-- app -->
                                <div class="form-group col-sm-12">
                                    <label class="col-form-label"><strong>聊天應用程式:</strong></label>
                                    <select class="form-control" id="richmenu-appId">
                                        <option value="">LINE-BOT 安妮</option>
                                        <option value="">LINE-BOT 麥克</option>
                                    </select>
                                </div>
                                <!-- status -->
                                <div class="form-group from-row col-sm-12">
                                    <label class="col-form-label"><strong>狀態:</strong></label>
                                    <select class="form-control" id="richmenu-status">
                                        <option value="open" selected>開放</option>
                                        <option value="close">關閉</option>
                                    </select>
                                </div>
                                <!-- effective period -->
                                <div class="form-group col-sm-6">
                                    <label class="col-form-label"><strong>開始時間:</strong></label>
                                    <input type="datetime-local" class="form-control" id="start-time">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-form-label"><strong>結束時間:</strong></label>
                                    <input type="datetime-local" class="form-control" id="end-time"> 
                                </div>
                                <!-- title -->
                                <div class="form-group col-sm-12">
                                    <label class="col-form-label"><strong>標題:</strong></label>
                                    <input class="form-control" type="text" id="title">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-form-label"><strong>聊天室選單文字:</strong></label>
                                    <input class="form-control" type="text" id="chatbar-text">
                                </div>
                                <!-- 圖片種類 -->
                                <div class="row col-sm-12">
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-01.png"/>
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type1" checked>
                                            <strong>圖片種類 1</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-02.png">
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type2">
                                            <strong>圖片種類 2</strong>
                                        </label>
                                    </div>                            
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-03.png">
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type3">
                                            <strong>圖片種類 3</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-04.png">                                    
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type4">
                                            <strong>圖片種類 4</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-05.png">                                   
                                            <input type="radio" class="richmenu-type"  name="richmenu-type" value="type5">
                                            <strong>圖片種類 5</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-06.png">                                  
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type6">
                                            <strong>圖片種類 6:</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="col-form-label richmenu-type-label">
                                            <img src="image/type-richmenu-07.png">
                                            <input class="richmenu-type" type="radio" name="richmenu-type" value="type7">
                                            <strong>圖片種類 7</strong>
                                        </label>
                                    </div>
                                </div>
                                <!-- 內容設定 -->
                                    <div class="col-sm-12">
                                        <label class="col-form-label"><strong>內容設定:</strong></label>
                                        <label class="col-form-label btn btn-default">
                                            <strong>上傳圖片</strong>
                                            <input type="file" class="image-ghost" id="photo" accept="image/png|image/jpg"/>
                                        </label>
                                        <i class="fa fa-info-circle btn" aria-hidden="true"></i> 
                                    </div>
                                

                                <!-- rich menu photo -->
                                    <div class="chsr carousel-inner">
                                        <div class="show-richmenu-type"></div>
                                        <img class="linebar" src="image/linebar.png">
                                    </div>
                                
                                <!-- 內容 -->
                                <div class="content-bar">
                                    <div class="form-group col-sm-3 margin-top">
                                        <label class="col-form-label">
                                            <input type="radio" name="content" value="richmenu-keyword">
                                            <strong>關鍵字</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3 margin-top">
                                        <label class="col-form-label">
                                            <input type="radio" name="content" value="richmenu-url">
                                            <strong>網址</strong></label>
                                    </div>
                                    <div class="form-group col-sm-3 margin-top">
                                        <label class="col-form-label">
                                            <input type="radio" name="content" value="richmenu-text">
                                            <strong>文字</strong>
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-3 margin-top">
                                        <label class="col-form-label">
                                            <input type="radio" name="content" value="richmenu-no-ction">
                                            <strong>不設定</strong>
                                        </label>
                                    </div>
                                </div>
                                

                                <div class="form-group col-sm-12">
                                    <select id="richmenu-keyword" class="form-control content-input">
                                        <option></option>
                                    </select>
                                    <input id="richmenu-text" class="form-control content-input" type="text">
                                    <input id="richmenu-url" class="form-control content-input" type="url">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="modal-save">確認</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end new modal -->
            <% include ../views/partials/firebase_disable.ejs %>
            <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
            <script src="https://www.amcharts.com/lib/3/serial.js"></script>
            <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
            <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
            <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
            <script src="https://mermaidjs.github.io/scripts/mermaid.min.js"></script>
            <script src="config/firebaseConfig.js"></script>
            <script src="js/_firebase-auth.js"></script>
            <script src="js/navigation.js"></script>
            <script src="js/richmenu.js"></script>
            <script src="js/partials/firebase-disable.js"></script>
</body>

</html>