<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="lib/css/animate.min.css" />
    <link rel="stylesheet" href="css/sb-admin-2.css">
    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/tag.css" />
    <link rel="stylesheet" href="css/setting.css" />
    <link rel="stylesheet" href="css/partials/firebase-disable.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div class="container-fluid">
        <div class="col-md-2 left margin-top-twenty">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#menu2">聊天應用程式</a></li>
                <li><a data-toggle="pill" href="#menu0">基本設定</a></li>
                <li><a data-toggle="pill" href="#menu3">標籤</a></li>
                <li><a data-toggle="pill" href="#create-internal-room">內部群組</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="menu0" class="tab-pane fade">
                <h3>基本設定
                    <button type="button" class="btn btn-default" id="profile" data-toggle="modal" data-target="#setting-modal">
                    <span class="fa fa-pencil-square-o"></span>編輯
                    </button>
                </h3>
                <div class="col-md-10 col-lg-10 panel-info prof-wid">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>ID: </td>
                                            <td class="long-token" id="prof-IDnumber"></td>
                                        </tr>
                                        <tr>
                                            <td>公司: </td>
                                            <td class="long-token" id="prof-company"></td>
                                        </tr>
                                        <tr>
                                            <td>手機: </td>
                                            <td id="prof-phonenumber"></td>
                                        </tr>
                                        <tr>
                                            <td>地區: </td>
                                            <td class="long-token" id="prof-address"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade in active">
                <h3 class="margin-left-15">聊天應用程式
                <button type="button" class="btn btn-default" id="add-group-name-app-btn" data-toggle="modal" data-target="#add_group_name_app_modal" disabled="true">
                <span class="fa fa-plus"></span> 新增群組
                </button>
                </h3>
                <div class="col-md-10 col-lg-10 panel-info prof-wid">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div id="error-message" hidden>
                        請按編輯帳戶資料按鈕編輯檔案
                    </div>
                    <div class="col-md-12 col-lg-12 panel-info prof-wid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3 class="margin-left-15">標籤</h3>
                <div class="col-md-10 col-lg-10 panel-info prof-wid">
                    <div class="float-down">
                        <div id="tag-tab" class="col-md-12 col-lg-12 panel-info prof-wid padding-zero">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="chsr-tags panel-group col-md-12 col-lg-12" role="tablist" id="apps_tags_wapper">
                                        <div class="panel panel-default"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="create-internal-room" class="tab-pane fade">
                <h3 class="margin-left-15">內部群組
                    <button class="btn btn-default group-insert" data-toggle="modal" data-target="#add_group_modal">
                        <span class="fa fa-plus fa-fw"></span>新增
                    </button>
                </h3>

                <div class="group-wrapper">
                    <div class="col-md-10 col-lg-10 panel-info prof-wid padding-zero">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>


                        <div class="panel-body group-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../views/partials/add_group_modal.ejs %>
        <% include ../views/partials/add_group_name_app_modal.ejs %>
        <% include ../views/partials/setting_modal.ejs %>
        <% include ../views/partials/firebase_disable.ejs %>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/bootstrap-notify.min.js"></script>
    <script src="lib/js/bootstrap3-typeahead.min.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/helpers/restful_api.js"></script>
    <script src="js/helpers/translate.js"></script>
    <script src="js/setting.js"></script>
    <script src="js/sb-admin-2.js"></script>
    <script src="js/partials/firebase-disable.js"></script>
</body>

</html>