<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/field.css" />
    <link rel="stylesheet" href="css/setting.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>
    <div class="container-fluid">
        <div class="col-md-2 left margin-top-twenty">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#menu2">聊天應用程式</a></li>
                <li><a data-toggle="pill" href="#menu0">基本設定</a></li>
                <li><a data-toggle="pill" href="#menu3">客戶分類條件</a></li>
                <li><a data-toggle="pill" href="#create-internal-room">內部群組</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="menu0" class="tab-pane fade">
                <h3>基本設定
                    <button type="button" class="btn btn-grey" id="profile" data-toggle="modal" data-target="#setting-modal">
                    <span class="fa fa-pencil"></span>編輯
                    </button>
                </h3>
                <div class="col-md-10 col-lg-10 border-info prof-wid">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>ID: </td>
                                            <td class="long-token" id="prof-IDnumber"></td>
                                        </tr>
                                        <tr>
                                            <td>公司: </td>
                                            <td class="long-token" id="prof-company"></td>
                                        </tr>
                                        <tr>
                                            <td>手機: </td>
                                            <td id="prof-phonenumber"></td>
                                        </tr>
                                        <tr>
                                            <td>Email: </td>
                                            <td class="long-token" id="prof-email"></td>

                                        </tr>
                                        <tr>
                                            <td>地址: </td>
                                            <td class="long-token" id="prof-address"></td>
                                        </tr>
                                        <tr class="hide" id="gcalendar_row">
                                            <td>
                                                <div class="feature-icon">
                                                    <img src="image/google_calendar.png" alt="Google Calendar Logo" />
                                                </div>
                                                Google 行事曆:
                                            </td>
                                            <td>
                                                <div class="form-check setting-cbx">
                                                    <input class="form-check-input" type="checkbox" id="gcalendar_cbx">
                                                    <label class="form-check-label" for="gcalendar_cbx">啟用</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade in active">
                <h3 class="margin-left-15">聊天應用程式
                <button type="button" class="btn btn-light" id="add-group-name-app-btn" data-toggle="modal" data-target="#add_group_name_app_modal" disabled="true">
                    <i class="fas fa-plus"></i> 新增群組
                </button>
                </h3>
                <div class="col-md-10 col-lg-10 border-info prof-wid">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div id="error-message" hidden>
                        請按編輯帳戶資料按鈕編輯檔案
                    </div>
                    <div class="col-md-12 col-lg-12 card prof-wid">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3 class="margin-left-15">客戶分類條件</h3>
                <div class="col-md-10 col-lg-10 card prof-wid">
                    <div class="float-down">
                        <div id="field-tab" class="col-md-12 col-lg-12 border-info prof-wid padding-zero">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="chsr-fields card-group col-md-12 col-lg-12" role="tablist" id="apps_fields_wapper">
                                        <div class="card"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="create-internal-room" class="tab-pane fade">
                <h3 class="margin-left-15">內部群組
                    <button class="btn btn-light group-insert" data-toggle="modal" data-target="#add_group_modal">
                        <i class="fas fa-plus fa-fw"></i>新增
                    </button>
                </h3>

                <div class="group-wrapper">
                    <div class="col-md-10 col-lg-10 border-info prof-wid padding-zero">
                        <div class="card-header">
                            <h3 class="card-title"></h3>
                        </div>


                        <div class="card-body group-body"></div>
                    </div>
                </div>
            </div>
            <div id="dialog_modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 id="textContent"></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">確定</button>
                            <button type="button" class="btn btn-secondary">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/modals/add_group_modal.ejs %>
    <% include ../views/partials/modals/add_group_name_app_modal.ejs %>
    <% include ../views/partials/modals/setting_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="lib/js/bootstrap3-typeahead.min.js"></script>
    <script src="js/helpers/google_client.js"></script>
    <script src="js/helpers/google_calendar.js"></script>
    <script src="js/setting.js"></script>
</body>

</html>