<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>註冊</title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/login_signup.css" />
</head>

<body>
    <div id="feature" class="top-blue-down-white">
        <div class="container">
            <div class="chsr row">
                <div class="chsr col-md-12 text-center signup-logo">
                    <a id="index" href=""><img alt="Chatshier-logo" src="image/logo.png"></a>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 form-content">
                            <h2 class="text-center signup-title">開始體驗您的Chatshier</h2>
                            <p class="text-center lead">不需付費。馬上體驗聊天功能。</p>
                            <div class="form-container">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group padding-left-right">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="signup-name" type="text" class="form-control" placeholder="姓名" data-toggle="tooltip" data-placement="top" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group padding-left-right">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input id="signup-email" type="text" class="form-control" placeholder="電子郵件" data-toggle="tooltip" data-placement="top" required/>
                                            </div>
                                        </div>
                                        <div class="form-group padding-left-right">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input id="signup-password" type="password" class="form-control" placeholder="密碼" data-toggle="tooltip" data-placement="top" required/>
                                            </div>
                                        </div>
                                        <div class="form-group padding-left-right">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input id="signup-password-confirm" type="password" class="form-control" placeholder="確認密碼" data-toggle="tooltip" data-placement="top" required/>
                                            </div>
                                        </div>
                                        <div class="error-notify"></div>
                                        <div class="form-group padding-left-right">
                                            <label class="control-label" for="signup"></label>
                                            <div class="controls">
                                                <button id="signup" class="btn btn-info" data-toggle="tooltip" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 註冊中，請稍候。">註冊</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="text-center forget-password">
                                        <p>我同意 Chatshier <a id="terms" href="" target="_blank">服務條款</a> &amp; <a id="privacy" href="" target="_blank">隱私權條款</a></p>
                                        <p>已經有帳號了嗎？請按<a href="/login">這裡</a>登入。</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script src="config/firebaseConfig.js"></script>
    <script src="config/url-config.js"></script>
    <script src="js/_firebase-auth.js"></script>
    <script src="js/signup.js"></script>
</body>

</html>