<!DOCTYPE html>
<html>

<head>
    <% include ../views/partials/meta_tags.ejs %>
    <% include ../views/partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="css/_main.css" />
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/template.css" />
</head>

<body>
    <% include ../views/partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ../views/partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ../views/partials/toolbar.ejs %>

            <div class="container mt-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="pt-3 pb-0 px-5">自訂 Line Template</h3>
                        <p class="pt-0 pb-4 px-5">首頁 / 訊息 / 自訂聊天模板</p>
                    </div>
                    <div class="px-5 my-3" id="appSelector">
                        <div class="dropdown app-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="appsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-text">請選擇聊天機器人</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="appsDropdown"></div>
                        </div>
                        <div class="search-add mb-2">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <input type="text" class="search-bar align-middle" placeholder="搜尋" aria-hidden="true">
                            <button type="button" class="btn btn-light btn-border insert" id="show-template-modal" data-toggle="modal" data-target="#template-modal" aria-hidden="true">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="py-0 px-5 chsr table">
                        <table class="chsr table">
                            <thead>
                                <tr>
                                    <th scope="col">標題</th>
                                    <th scope="col">類型</th>
                                    <th scope="col">關鍵字</th>
                                    <th scope="col">編輯/刪除</th>
                                </tr>
                            </thead>
                            <tbody id="template-tables"></tbody>
                        </table>
                    </div>
                </div>
                </duv>
            </div>
        </div>
    </div>

    <!-- new modal -->
    <div class="chsr modal fade" id="template-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- 編號 -->
                        <div class="form-group d-none">
                            <label for="template-id" class=" col-form-label">ID</label>
                            <input id="template-id"></span>
                        </div>
                        <!-- channelId -->
                        <div class="form-group app-select-bar">
                            <label class="col-form-label">App:</label>
                            <div>
                                <select class="form-control" id="app-select">
                                </select>
                            </div>
                        </div>

                        <!-- Keyword -->
                        <div class="form-group">
                            <label class="col-form-label"><strong>觸發關鍵字:</strong><p class="keyword-duplicate d-none">關鍵字重複，請重新輸入</p>
                            <div >
                                <input class="form-control" type="text" value="" id="template-keyword">
                            </div>
                        </label>
                        </div>
                        <!-- Type -->
                        <div class="form-group">
                            <label class=" col-form-label"><strong>類型:</strong>
                            <div>
                                <select class="form-control" id="template-type">
                                    <option disabled selected value> -- 請選擇 -- </option>
                                    <option value="buttons">按鈕</option>
                                    <option value="confirm">是非題</option>
                                    <option value="carousel">多欄</option>
                                    <!-- <option value="image_carousel">圖片多欄</option> -->
                                </select>
                            </div>
                        </label>
                        </div>
                        <!-- AltText -->
                        <div class="form-group">
                            <label class="col-form-label template-view" rel="confirm carousel buttons"><strong>電腦版替代文字:</strong>
                            <div>
                                <input class="form-control" type="text" value="" id="template-altText">
                            </div>
                        </label>
                        </div>
                        <!-- button, carousel field -->
                        <div id="carousel-container" class="template-view carousel slide" rel="carousel buttons" data-ride="carousel" data-interval="false">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item active template-view" rel="carousel buttons" data-slide-to="0">
                                    <div class="rounded-border">
                                        <div class="line-content">
                                            <div class="line-thumbnailImageUrl">
                                                <input type="file" class="image-ghost" accept="image/*">
                                                <img alt="請點選以上傳圖片，長寬比請設定為1:1.51" class="image-upload" src="">
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <input class="line-title form-control" type="text" placeholder="標題1" maxlength="40">
                                        </div>
                                        <div class="line-content">
                                            <input class="line-text form-control" type="text" placeholder="說明文字" maxlength="60">
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <div class="line-action" id="row-1">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-2">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-3">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item template-view" rel="carousel" data-slide-to="1">
                                    <div class="rounded-border">
                                        <div class="line-content">
                                            <div class="line-thumbnailImageUrl">
                                                <input type="file" class="image-ghost" accept="image/*">
                                                <img alt="請點選以上傳圖片，長寬比請設定為1:1.51" class="image-upload" src="">
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <input class="line-title form-control" type="text" placeholder="標題2" maxlength="40">
                                        </div>
                                        <div class="line-content">
                                            <input class="line-text form-control" type="text" placeholder="說明文字" maxlength="60">
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <div class="line-action" id="row-1">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-2">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-3">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item template-view" rel="carousel"data-slide-to="2">
                                    <div class="rounded-border">
                                        <div class="line-content">
                                            <div class="line-thumbnailImageUrl">
                                                <input type="file" class="image-ghost" accept="image/*">
                                                <img alt="請點選以上傳圖片，長寬比請設定為1:1.51" class="image-upload" src="">
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <input class="line-title form-control" type="text" placeholder="標題3" maxlength="40">
                                        </div>
                                        <div class="line-content">
                                            <input class="line-text form-control" type="text" placeholder="說明文字" maxlength="60">
                                        </div>
                                        <div class="divider-line"></div>
                                        <div class="line-content">
                                            <div class="line-action" id="row-1">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-2">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                            <div class="line-action" id="row-3">
                                                <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                                <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <div class="template-view" rel="carousel">
                                <a class="carousel-item-left carousel-control-prev text-info" href="#carousel-container" data-slide="prev" role="button">
                                    <span class="fas fa-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-item-right carousel-control-next text-info" href="#carousel-container" data-slide="next" role="button">
                                    <span class="fas fa-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!-- button carousel field end -->
                        <div class="template-view" rel="confirm">
                            <div class="rounded-border">
                                <div class="line-content">
                                    <input class="line-text form-control" type="text" placeholder="說明文字" maxlength="240">
                                </div>
                                <div class="divider-line"></div>
                                <div class="line-content">
                                    <div class="line-action" id="row-1">
                                        <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                        <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                    </div>
                                    <div class="line-action" id="row-2">
                                        <input class="row-label form-control" type="text" placeholder="選項" maxlength="12">
                                        <input class="row-text form-control" type="text" placeholder="回傳文字" maxlength="300">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="modal-save">確認</button>
                            <button type="button" class="btn btn-primary" id="edit-modal-save">確認</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end new modal -->

    <div id="dialog_modal" class="chsr modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-secondary">取消</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../views/partials/require_js.ejs %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://mermaidjs.github.io/scripts/mermaid.min.js"></script>
    <script src="js/template.js"></script>
</body>

</html>