<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />

    <% include ../views/partials/require_css.ejs %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/_main.css">
    <link rel='stylesheet' href='css/ticket.css' />
    <link rel="stylesheet" href="css/partials/ticket_edit_modal.css" />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
    <% include ../views/partials/loading.ejs %>

    <!--alert bar-->
    <div id="alert-success" class="chsr alert alert-success alert-dismissible" role="alert">
        <span></span>
        <button type="button" class="close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div id="alert-warning" class="chsr alert alert-warning alert-dismissible" role="alert">
        <p></p>
        <button type="button" id="no" class="btn btn-light btn-border">否</button>
        <button type="button" id="yes" class="btn btn-danger">是</button>
    </div>
    <div id="alert-danger" class="chsr alert alert-danger alert-dismissible" role="alert">
        <span></span>
        <button type="button" class="close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <!--alert bar end-->

    <div class="main">
        <div class="top-toolbar">
            <button class="btn btn-light btn-border ticket-add" data-toggle="modal" data-target="#ticketAddModal">
                <i class="fas fa-plus fa-fw"></i>
                <span>新增待辦</span>
            </button>
            <input type="text" class="ticket-search-bar" id="ticket_search_bar" placeholder="搜尋">
        </div>

        <div class="chsr ticket">
            <table>
                <thead>
                    <tr>
                        <th>客戶姓名</th>
                        <th>描述</th>
                        <th>狀態</th>
                        <th>優先</th>
                        <th>到期時間</th>
                        <th>指派人</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="ticket-body"></tbody>
            </table>
        </div>
    </div>

    <% include ../views/partials/modals/ticket_add_modal.ejs %>
    <% include ../views/partials/modals/ticket_edit_modal.ejs %>

    <% include ../views/partials/require_js.ejs %>
    <script src="js/ticket.js"></script>
</body>

</html>