<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/_main.css">
    <link rel='stylesheet' href='/stylesheets/ticket.css' />
</head>

<body>
    <% include ../views/partials/wrapper.ejs %>
        <% include ../views/partials/loading.ejs %>
            <div class="view-ticket top-toolbar">
                <a href="/ticket_form" class="btn btn-default ticket-add">
                    <span class="fa fa-plus fa-fw"></span><span>新增表單</span>
                </a>
                <input type="text" class="ticket-search-bar" id="ticket_search_bar" value="" placeholder="搜尋">
            </div>

            <!--alert bar-->
            <div id="alert-success" class="chsr alert alert-success alert-dismissible" role="alert">
                <span></span>
                <button type="button" class="close"><span>&times;</span></button>
            </div>
            <div id="alert-warning" class="chsr alert alert-warning alert-dismissible" role="alert">
                <p></p>
                <button type="button" id="no" class="btn-default">否</button>
                <button type="button" id="yes" class="btn-danger">是</button>
            </div>
            <div id="alert-danger" class="chsr alert alert-danger alert-dismissible" role="alert">
                <span></span>
                <button type="button" class="close"><span>&times;</span></button>
            </div>
            <!--alert bar end-->

            <div class="main">
                <div class="ticket">
                    <table>
                        <thead>
                            <tr>
                                <th>客戶姓名</th>
                                <th>內容</th>
                                <th>狀態</th>
                                <th>優先</th>
                                <th>到期時間</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="ticket-content">
                        </tbody>
                    </table>
                </div>
            </div>
            <% include ../views/partials/ticket_info_modal.ejs %>
                <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
                <script src="config/firebaseConfig.js"></script>
                <script src="config/url-config.js"></script>
                <script src="javascripts/navigation.js"></script>
                <script src="javascripts/_firebase-auth.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
                <script src="javascripts/ticket.js"></script>
                <script src="javascripts/navigation.js"></script>
</body>

</html>