.analyze-wrapper .page-title,
.analyze-wrapper .analyze-body {
    margin: 2.5%;
}
.date-wrapper {
    display: inherit;
    width: 100%; }

.chart-container {
    height: 25rem; }
    .chart-container .chart-body {
        width: 100%;
        max-width: 50rem;
        height: 100%;
        border: 1px solid #ddd; }
