.calendar-wrapper {
    position: relative;
    padding: 5%;
}

.chsr .ui-state-highlight,
.chsr .ui-widget-content .ui-state-highlight,
.chsr .ui-widget-header .ui-state-highlight {
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

.input-wrapper {
    width: 90%;
    margin: 0 auto;
}

.input-wrapper textarea.event-content {
    margin: 1em 0;
    resize: vertical;
}

.font-red {
    color: red;
}

.calendar-modal .modal-header .modal-title {
    margin: 0px 27px;
}