.calendar-wrapper .calendar-body {
    padding: 5%;
}

.chsr .ui-state-highlight,
.chsr .ui-widget-content .ui-state-highlight,
.chsr .ui-widget-header .ui-state-highlight {
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

.input-wrapper textarea.event-content {
    resize: vertical; }

.font-red {
    color: red;
}

@media (max-width: 576px) {
    .chsr .fc-center h2 {
        font-size: 1.2rem;
    }
}