html,
body {
    overflow: hidden;
}

.grey {
    color: #b3b3b3;
}

.column {
    height: 100%;
    border-left: 1px solid rgb(199, 199, 199);
    overflow: hidden;
}

.tablinks-area::-webkit-scrollbar-track,
.message-panel::-webkit-scrollbar-track,
.profile-wrapper::-webkit-scrollbar-track,
.ticket-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent;
}

.tablinks-area::-webkit-scrollbar,
.message-panel::-webkit-scrollbar,
.profile-wrapper::-webkit-scrollbar,
.ticket-wrapper::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.tablinks-area::-webkit-scrollbar-thumb,
.message-panel::-webkit-scrollbar-thumb,
.profile-wrapper::-webkit-scrollbar-thumb,
.ticket-wrapper::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: white;
}

.chat-wrapper {
    font-family: Microsoft JhengHei;
    height: 100%;
    overflow-y: hidden; }
    .chat-wrapper .chat-area {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: calc(100% - 50px);
        background-color: #f7f8f9; }

.chat-app-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f7f8f9;
    width: 60px;
    text-align: left;
    padding: 5px 0;
    z-index: 10;
    transition: .3s ease-in-out; }
    .chat-app-list .chat-app-item {
        position: relative;
        display: flex;
        height: 60px;
        padding: 10px;
        cursor: pointer; }
        .chat-app-list .chat-app-item:hover {
            background-color: #afafaf;
            color: white; }
        .chat-app-list .chat-app-item + .tooltip > .tooltip-inner {
            background-color: #33ccff;
            border: 1px solid #33ccff; }
        .chat-app-list .chat-app-item + .tooltip.right > .tooltip-arrow {
            border-right-color: #33ccff; }
    .chat-app-list .software-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 15%; }
    .chat-app-list .unread-count {
        position: absolute;
        top: 40px;
        left: 40px;
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;
        text-align: center; }

.person {
    border: 1px solid #ccc;
    background-color: #f7f8f9;
    width: 30%;
    padding-left: 60px;
    transition: .5s ease-in-out; }
    .person hr {
        padding: 0;
        margin: 0; }
    .person .tablinks-area {
        flex: 1;
        position: relative;
        background-color: inherit;
        height: 88%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        z-index: 2; }
    .person .tablinks {
        width: 100%;
        height: 100px;
        margin: 0;
        display: flex;
        color: black;
        padding: 10px;
        border: none;
        border-radius: 0;
        outline: none;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        overflow: hidden;
        background-color: inherit; }
        .person .tablinks:hover {
            background-color: #e8e8e8; }
        .person .tablinks .msg-holder {
            height: 60px;
            overflow: inherit;
            margin-top: 30px; }
        .person .tablinks .img-holder {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            overflow: hidden;
            margin-right: 15px;
            min-width: 50px;
            margin-top: 5px; }
        .person .tablinks .software-icon {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            left: 50px;
            margin-top: 35px; }
    .person .list-group {
        float: left;
        width: 100%;
        border-left: none;
        display: block;
        margin-bottom: 0; }
    .person .app-name {
        position: absolute;
        right: 3%;
        max-width: 120px;
        margin-top: 1.5%;
        color: #8e8e8e;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        border: 1px solid #8e8e8e61;
        border-radius: 5px;
        padding: 0px 5px 0px 6px; }
    .person .unread-msg {
        position: absolute;
        right: 4%;
        margin-top: 50px;
        color: white;
        background-color: #33ccff; }

.message-search {
    width: 100%;
    padding: .25rem; }
    .message-search .search-results {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 1.4rem;
        height: 100%; }
        .message-search .search-results > :not(:last-child) {
            margin-right: .5rem; }
        .message-search .search-results i {
            cursor: pointer; }
    .message-search .search-box {
        border: 1px solid #ccc;
        width: 100%;
        height: 25px; }
    .message-search .current-number,
    .message-search .slash-number,
    .message-search .total-number {
        color: #b3b3b3; }

.message {
    width: 100%;
    padding: 0 10px;
    line-height: normal; }
    .message .content {
        max-width: 60%; }
        .message .content.words {
            padding: .75rem;
            border: 1px solid #b5e7a0;
            border-radius: 1rem;
            background-color: #b5e7a0;
            display: inline-block;
            word-wrap: break-word;
            text-align: left; }
        .message .content.found {
            color:white;
            background-color: #33ccff !important; }
        .message .content img,
        .message .content video {
            width: 100%;
            max-width: 20rem;
            height: auto;
            border-radius: .5rem; }
        .message .content .location-icon {
            margin-right: .5rem;
            color: red; }
    .message .messager-name {
        margin-bottom: .25rem; }
        .message .messager-name span {
            font-size: 1rem;
            padding: .25rem;
            color: #aaa; }

.message-group {
    display: flex;
    align-items: flex-end; }
    .message-group.right-side {
        flex-direction: row-reverse; }

.chatroom-container {
    position: relative;
    display: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .chatroom-container .watermark-text {
        position: absolute;
        color: #8e8e8e;
        opacity: .5;
        width: 100%;
        text-indent: 1rem;
        text-align: center;
        top: calc(50% + 4rem);
        transform: translate3d(0, -50%, 0);
    }
    .chatroom-container.open::before,
    .chatroom-container.open .watermark-text {
        display: none; }
    .chatroom-container::before {
        content: "";
        position: absolute;
        left: calc(50% - 8rem);
        top: 0;
        width: 16rem;
        height: 100%;
        opacity: .5;
        background-color: transparent;
        background-image: url("../image/logo.png");
        background-position: center calc(50% - 4rem);
        background-size: contain;
        background-repeat: no-repeat; }
    .chatroom-container .chat-content-panel {
        position: relative;
        height: 100%;
        min-width: 60%;
        resize: both; }
    .chatroom-container .profile-panel {
        position: relative;
        height: 100%; }

.profile-panel {
    border-radius: 5px;
    background-color: #f7f8f9; }
    .profile-panel:not(.d-none) {
        border: 1px solid lightgray; }
    .profile-panel td {
        word-wrap: break-word; }
    .profile-panel .person-chip {
        margin: .5rem .5rem .5rem 0;
        padding: 0 .5rem;
        line-height: 2rem;
        border-radius: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .profile-panel .person-chip .person-avatar {
            width: 2rem;
            height: 2rem;
            float: left;
            margin-right: .5rem;
            border-radius: 50%; }
    .profile-panel .td-inner:not(.btn-group) {
        width: 100%;
        margin: 0 auto; }
    .profile-panel .td-inner[type="datetime-local"] {
        margin-top: 2px; }
    .profile-panel .photo-container {
        text-align: center;
        margin: 5% 0; }
        .profile-panel .photo-container img {
            border-radius: 50%; }

.consumer-profile {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #f7f8f9;
    position: relative; }
    .consumer-profile .display-name {
        font-size: 100%;
        padding: 2%; }

.chatroom-body {
    height: calc(100% - 8rem);
    width: 100%; }
    .chatroom-body .chat-content {
        border: 1px solid #ccc;
        height: 100%;
        border-left: none;
        width: 100%;
    }

.message-panel {
    height: 100%;
    padding-bottom: 5%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    clear: right;
    display: flex;
    flex-direction: column; }
    .message-panel .loading-container {
        display: flex;
        justify-content: center;
        align-items: center; }
    .message-panel .loading-container img {
        width: 48px;
        height: 48px; }
    .message-panel .send-time {
        margin: 0 .5rem;
        color: grey;
        font-size: 10px;
        vertical-align: bottom; }
    .message-panel .message-time {
        text-align: center; }

.message-input-container {
    width: 100%;
    height: 8rem;
    border-top: 1px solid lightgray;
    background-color: lightgray; }
.message-input {
    display: flex;
    align-items: center; }
    .message-input.form-upper {
        height: 50%;
        background-color: white;
        width: 100%;
        z-index: 1; }
    .message-input.form-lower {
        height: 50%;
        padding: 0 1rem;
        background-color: white;
        width: 100%;
        z-index: 1; }
        .message-input.form-lower .submit-message-input {
            width: calc(100% - 2.5rem);
            height: 80%;
            border: none; }
    .message-input .submit-message-btn {
        position: relative;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: transparent;
        border: none; }
        .message-input .submit-message-btn::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-blend-mode: color;
            background-size: cover;
            background-image: url("../image/send-btn.svg"); }
        .message-input .submit-message-btn:hover {
            background-color: rgba(255, 255, 255, .5); }
    .message-input .media-btn {
        color: #2e555f;
        height: 3.5rem;
        width: 3.5rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 50%;
        background-color: transparent; }
        .message-input .media-btn:hover,
        .message-input .media-btn[active~='true'] {
            background-color: #ccc; }

.chsr.ticket {
    display: flex;
    justify-content: center;
    margin: 0% 0%;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
    padding: 0; }
    .chsr.ticket table {
        table-layout: fixed;
        width: 100%; }
    .chsr.ticket .ticket-search-bar {
        border-radius: 5px; }
    .chsr.ticket .ticket-description { 
        max-width: 50px; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;  } 
    .chsr.ticket td,
    .chsr.ticket th {
        border-bottom: 1px solid rgb(5, 82, 87);
        text-align: left;
        padding: .25rem;
        margin: 2px 0;
        max-height: 24px; }
    .chsr.ticket tr:nth-child(even) {
        background-color: #33ccff;
        color: white; }
    .chsr.ticket .ticket-row {
        cursor: pointer; }
    .chsr.ticket  th.chsr .ticket-add {
        clear: both;
        float:right;
        cursor: pointer;
        color: #33ccff; }

.due-time-text .overdue {
    padding: 1px 10px;
    margin: 1px;
    border-radius: 8px;
    background-color: rgb(227, 79, 79);
    color: white;
    font-weight: bold; }
.due-time-text .non {
    background-color: rgb(91, 195, 92); }

.ticket-info-modal .id-number {
    display: flex;
    width: 45px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    border-radius: 50%; }
.ticket-info-modal .modal-title {
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: none;
    display: flex;
    align-items: flex-end; }
.ticket-info-modal textarea {
    /* will prevent resizing horizontally */
    resize: vertical; }
.ticket-info-modal .display-date-input {
    width: 75%; }

.profile-wrapper,
.ticket-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%; }

.profile-group {
    font-size: .85rem;
    min-height: 102.5%; }
    .profile-group .panel-table {
        margin: 0%;
        table-layout: fixed; }
    .profile-group .profile-label {
        width: 35%; }
        .profile-group .profile-label.align-top {
            vertical-align: top; }
    .profile-group .profile-label,
    .profile-group .user-info-td {
        vertical-align: middle; }
    .profile-group input,
    .profile-group select, 
    .profile-group button {
        font-size: .85rem; }

.consumer-avatar {
    width: 4rem;
    height: 4rem; }
    .consumer-avatar.larger {
        width: 8rem;
        height: 8rem; }

.click-here {
    margin-left: 10px;
    margin-right: 8px; }
    .click-here a[href="/setting"] {
        color: red;
        text-decoration: none; }

.multi-select-wrapper .dropdown-menu input[type="checkbox"] {
    width: auto;
    margin-right: 4px; }
.multi-select-wrapper .dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: .25rem; }
    .multi-select-wrapper .dropdown-toggle .multi-select-values {
        white-space: normal;
        word-wrap: break-word; }
    .multi-select-wrapper .form-check {
        white-space: normal;
        word-break: break-word; }