.remove-btn {
    cursor: pointer;
    color: #000;
    top: 0;
    right: .3rem;
    font-size: 1.5em;
    opacity: .5; }
    .remove-btn:hover {
        opacity: 1; }

.compose-textarea {
    resize: none;
    width: 100%;
    height: 5rem;
    padding-right: 1.8rem;
}

.compose-modal .condition-content.range {
    width: calc(50% - 1rem); }

.compose-modal .condition-remove-btn {
    cursor: pointer; }

.compose-modal.chsr input[type=checkbox] {
    transform: none; }


.condition-item:last-child {
    margin-bottom: 1rem !important; }
.condition-item .tag-chip {
    background-color: #ffbfe8;
    border-radius: 1.5rem; }
    .condition-item .tag-chip .chip-text {
        white-space: pre-line; }
    .condition-item .tag-chip .remove-chip {
        cursor: pointer; }

.condition-content .typeahead .dropdown-item {
    white-space: pre-line; }