.error-msg,
.error-input {
    display: none;
    color: red;
}

.remove-btn {
    cursor: pointer;
    color: #000;
    top: 0;
    right: .3rem;
    font-size: 1.5em;
}

.compose-textarea {
    resize: none;
    width: 100%;
    height: 5rem;
    padding-right: 1.8rem;
}
