table {
    width: 100%;
}


.add-msg-btn-padding {
    padding: 5%;
}

.error-msg,
.error-input {
    display: none;
    color: red;
}

.add-text-btn-style {
    width: 20%;
    margin: 0.5%;
    padding: 0.5%;
    float: left;
}
.remove-btn {
    float: right;
    cursor: pointer;
    font-size: 11px;
    color: red;
}

.textinput {
    width: 100%;
    height: 100px;
}
