@media (min-width: 576px) {
    .chsr.carousel-inner {
        width: 27.375rem;
        height: 22.625rem;
    }
    .show-richmenu-form {
        width: 27.375rem;
        height: 18.25rem;
    }
    .box {
        width: 9.125rem;
        height: 9.125rem;
    }
}

@media (max-width: 575px) {
    .chsr.carousel-inner {
        width: 18.75rem;
        height: 16.875rem;
    }
    .show-richmenu-form {
        width: 18.75rem;
        height: 12.5rem;
    }
    .box {
        width: 6.25rem;
        height: 6.25rem;
    }
}

#title {
    margin-bottom: 10px;
}

.tab-pane {
    padding: 20px;
}

.keyword-duplicate {
    color: red;
    margin-left: 10px;
    display: inline-block;
}

.chsr.carousel-inner {
    left: 3%;
    width: 540px;
    height: 430px;
}

.show-richmenu-form {
    position: relative;
    width: 540px;
    height: 360px;
}

.image-ghost {
    display: none!important;
}

.image-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.line-title {
    font-weight: bold;
    font-size: 20px;
}

.divider-line {
    border: 0;
    border-top: 1px solid #888;
}

.title {
    text-align: left;
    background-color: #F4F4F4;
}

.card {
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 3px #dddddd;
    height: 950px;
}

tr:nth-child(even) {
    background: #F4F4F4;
}

.address {
    padding-bottom: 20px;
}

.title-top {
    margin-top: -20px;
}

.richmenu-form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: rgba(158,158,158);
    width: 180px;
    height: 180px;
    border:1px solid;
    float: left;
}

.box:hover {
    background-color: rgba(158,158,158,0.7);
    cursor: pointer;
}

.linebar {
    border: 1px solid;
    width: 100%;
}