@media (min-width: 992px) {
    .chsr.carousel-inner {
        width: 43.125rem;
        height: 33.125rem;
    }
    .show-richmenu-type {
        width: 43.125rem;
        height: 28.75rem;
    }
    .box {
        width: 14.375rem;
        height: 14.375rem;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .chsr.carousel-inner {
        width: 26.25rem;
        height: 21.875rem;
    }
    .show-richmenu-type {
        width: 26.25rem;
        height: 17.5rem;
    }
    .box {
        width: 8.75rem;
        height: 8.75rem;
    }
}

@media (max-width: 575px) {
    .chsr.carousel-inner {
        width: 18.75rem;
        height: 16.875rem;
    }
    .show-richmenu-type {
        width: 18.75rem;
        height: 12.5rem;
    }
    .box {
        width: 6.25rem;
        height: 6.25rem;
    }
}

#title {
    margin-bottom: 10px;
}

.tab-pane {
    padding: 20px;
}

.modal-content {
    background-color: #eee;
}

.modal-body {
    margin-bottom: 20px;
}

label *:not(strong) {
    font-weight: normal;
}

.keyword-duplicate {
    color: red;
    margin-left: 10px;
    display: inline-block;
}

.chsr.carousel-inner {
    left: 3%;
}

.show-richmenu-type {
    position: relative;
}

.image-ghost {
    display: none!important;
}

.image-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.line-title {
    font-weight: bold;
    font-size: 20px;
}

.divider-line {
    border: 0;
    border-top: 1px solid #888;
}

.title {
    text-align: left;
    background-color: #F4F4F4;
}

.card {
    background-color: #ffffff;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 3px #dddddd;
}

.chsr.table {
    border-left: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.margin-top {
    margin-top: 30px;
}

tr:nth-child(even) {
    background: #F4F4F4;
}

.address {
    padding-bottom: 20px;
}

.title-top {
    margin-top: -20px;
}

.richmenu-type-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border:1px solid;
    float: left;
}

.box:hover {
    background-color: rgba(158,158,158,0.7);
    cursor: pointer;
}

.linebar {
    border: 1px solid;
}