/* fix padding under menu after resize */

@media (max-width: 414px) {
    .prof-wid {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .prof-wid {
        width: 100%;
    }
}

@media (max-width: 1141px) {
    .prof-wid {
        width: 95%;
    }
}

.left {
    position: fixed;
    left: 0;
}

.tab-content {
    position: relative;
    padding: 0 50px;
    margin-left: 15%;
}

.tab-content .tag-name {
    width: 30%;
}

.tab-content .tag-type {
    width: 15%;
}

.tab-content .tag-sets {
    width: 30%;
}

.tab-content .tag-delete {
    width: 15%;
}

.tab-content .tag-drag-icon {
    width: 10%;
}

.long-token {
    max-width: 600px;
    word-wrap: break-word;
}

.margin-top-twenty {
    margin: 20px 0;
}

.padding-zero {
    padding: 0px;
}

.align-center {
    text-align: center;
}

.bold-word {
    font-weight: bold;
}

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: gray;
}

.multi-select-container {
    padding: 5px 5px;
    top: auto;
    left: auto;
}

.margin-left-15 {
    margin-left: 15px;
}

.chsr-tags .panel-heading {
    border-bottom: 1px solid #ddd;
}

[data-toggle="collapse"]:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
    float: right;
    color: #888;
    padding: 0 1rem;
}

[data-toggle="collapse"].collapsed:after {
    content: "\e114";
}

.app-table-space {
    padding: 1%;
}

/*******************/
/* #region 內部群組相關設置 */

.cursor-pointer {
    cursor: pointer;
}

.group-tab, .group-app {
    padding: 1rem 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
}

.group-tab:first-child, .group-app:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.group-tab .group-name, .group-app .group-name {
    padding: 10px 15px;
    text-decoration: none;
}

.panel-collapse {
    background-color: white;
    border: 1px solid #ddd;
}

.group-wrapper {
    display: flex;
}

.group-wrapper .group-body {
    min-width: 800px;
}

.group-list-panel {
    width: 20%;
}

.email-input-container {
    position: relative;
}

.file-container .img-preview {
    min-width: 32px;
    width: 32px;
    height: auto;
    margin: 0 1rem;
}

.file-ghost {
    visibility: hidden;
    height: 0;
}

.form-group-row {
    padding: 8px;
}

.chsr-avatar .chsr-blue {
    color: blue;
}

.chsr-avatar + .avatar-name {
    display: block;
    margin: 0 .5rem;
    max-width: 18rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chsr-avatar .chsr-blue {
    color: blue;
}

table.chsr-group {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 0;
}

table.chsr-group .status{
    line-height: 2.4;
}

table.chsr-group tbody td {
    vertical-align: middle;
}

.permission {
    width: 30%;
}

.permission .btn.outline {
    text-align: left;
}

.permission .permission-group .permission-item {
    border: 1px solid #2e6da4;
    padding: .5rem;
}

.chsr-group .actions {
    width: 7%;
}

.chsr-group .outline {
    border: none;
    background-color: transparent;
}

.chsr-group .outline i.fa {
    margin-left: .5rem;
}

.group-member .user .chips {
    display: flex;
    align-items: center;
}

.action-container {
    padding-right: 1rem;
    display: inline;
}

.actions .remove-icon {
    cursor: pointer;
    color: #bbb;
}
/* #endregion */
/*******************/
