/* fix padding under menu after resize */

@media (max-width: 414px) {
    .prof-wid {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .prof-wid {
        width: 100%;
    }
}

@media (max-width: 1141px) {
    .prof-wid {
        width: 95%;
    }
}

.left {
    position: fixed;
    left: 0;
}

.tab-content {
    position: relative;
    padding: 0 50px;
    margin-left: 15%;
}

.tab-content .tag-name {
    width: 30%;
}

.tab-content .tag-type {
    width: 15%;
}

.tab-content .tag-sets {
    width: 30%;
}

.tab-content .tag-delete {
    width: 15%;
}

.tab-content .tag-drag-icon {
    width: 10%;
}

.long-token {
    max-width: 600px;
    word-wrap: break-word;
}

.margin-top-twenty {
    margin: 20px 0;
}

.padding-zero {
    padding: 0px;
}

.align-center {
    text-align: center;
}

.bold-word {
    font-weight: bold;
}

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: gray;
}

.multi-select-container {
    padding: 5px 5px;
    top: auto;
    left: auto;
}

.margin-left-15 {
    margin-left: 15px;
}

.chsr-tags .panel-heading {
    border-bottom: 1px solid #ddd;
}

[data-toggle="collapse"]:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
    float: right;
    color: #888;
}

[data-toggle="collapse"].collapsed:after {
    content: "\e114";
}