.d-inline-grid {
    display: inline-grid;
}

.tabs-container {
    position: relative;
    height: 100%;
    max-height: calc(100% - 1.5rem);
    font-size: .85rem; }
    .tabs-container .prof-wid {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height: 80%; }

.tabs-mobile {
    position: absolute;
    bottom: 0;
    font-size: .85rem;
    background-color: #f8f8f8; }

.tab-content {
    position: relative;
    height: 100%;
}

.card > .card-header {
    color: white;
    background-color: #33ccff;
    border-color: #33ccff;
}

.chsr.fields .app-name {
    cursor: pointer;
    color: #33ccff;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #ddd; }
    .chsr.fields .app-name:first-of-type {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem; }

@media (min-width: 992px) {
.field-content.col-lg-6 {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem); }}
    .field-content .field-drag-icon i {
        color: #c0c0c0; }

.chsr.nav-pills .nav-link.active {
    color: white;
    background-color: #33ccff;
}

.table-user-information .prof-label-col {
    width: 30%; }
.table-user-information .prof-content-col {
    width: 70%; }

.feature-icon {
    display: inline-block;
    width: 24px;
    height: 24px; }
    .feature-icon img {
        width: 100%;
        height: 100%; }

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: gray;
}

.multi-select-container {
    padding: 5px 5px;
    top: auto;
    left: auto;
}

[data-toggle="collapse"]:after {
    font-family: "Font Awesome\ 5 Free";
    content: "\f077";
    font-weight: 900;
    float: right;
    color: #888;
    padding: 0 1rem; }
    [data-toggle="collapse"].collapsed:after {
        content: "\f078"; }

/*******************/
/* #region 內部群組相關設置 */

.cursor-pointer {
    cursor: pointer;
}

.group-tab, .group-app {
    padding: 1rem 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
}

.group-tab:first-child, .group-app:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.group-tab .group-name,
.group-app .group-name {
    padding: 10px 15px;
    text-decoration: none;
    color: #33ccff;
}

.panel-collapse {
    background-color: white;
    border: 1px solid #ddd;
}

.typeahead .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-list-panel {
    width: 20%;
}

.file-container .img-preview {
    min-width: 32px;
    width: 32px;
    height: auto;
    margin: 0 1rem;
}

.file-ghost {
    visibility: hidden;
    height: 0;
}

.avatar-container .member-avatar {
    width: 2rem;
    height: 2rem;
}

.avatar-container + .avatar-name {
    display: block;
    margin: 0 .5rem;
    max-width: 18rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-collapse {
    background-color: white;
    border: 1px solid #ddd;
}

.chsr.table,
.chsr-group {
    table-layout: fixed;
}

.chsr-group {
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 0; }
    .chsr-group .group-member {
        min-height: 10rem; }
    .chsr-group .btn.outline {
        text-align: left; }
    .chsr-group .permission-item {
        position: relative;
        border: 1px solid #2e6da4;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin: 0 1px;
        cursor: pointer; }
    .chsr-group .permission-item .permission-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0); }
    .chsr-group .status {
        line-height: 2.4; }
    .chsr-group .actions {
        text-align: right; }
    .chsr-group .outline {
        border: none;
        background-color: transparent; }
    .chsr-group .outline i {
        margin-left: .5rem; }

@media (min-width: 992px) {
    .chsr-group .group-member {
        -ms-flex: 0 0 calc(50% - 1rem);
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem); }
}

.actions .action-icon {
    cursor: pointer;
    color: #bbb; }
    .actions .action-container {
        display: inline; }
    .actions .action-container a:first-of-type {
        margin-right: .5rem; }

/* #endregion */
/*******************/

.line-dev-link {
    background-color: #262a2e;
    border-radius: .5rem; }
    .line-dev-link .line-dev-logo {
        width: 200px;
        height: 24px; }

.fb-fanpage-picture {
    width: 2rem;
    height: 2rem;
}

.fb-import-button {
    border-radius: .5rem;
    background-color: #4267b2;
    color: white;
    cursor: pointer; }
    .fb-import-button:focus {
        outline: none; }

.apps-body .bot-item {
    min-height: 26rem;
    padding-bottom: 3.5rem; }
    .apps-body .bot-item .app-name, .apps-body .bot-item .app-id1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        }
    .apps-body .bot-item .bar {
        height: 0.4rem;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ba8ba+0,00637a+50,00637a+50,61b4c6+100 */
        background: #5ba8ba; /* Old browsers */
        background: -moz-linear-gradient(left, #5ba8ba 0%, #00637a 50%, #00637a 50%, #61b4c6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #5ba8ba 0%,#00637a 50%,#00637a 50%,#61b4c6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #5ba8ba 0%,#00637a 50%,#00637a 50%,#61b4c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba8ba', endColorstr='#61b4c6',GradientType=1 ); /* IE6-9 */
       }

    .apps-body .bot-item .app-id1 {
            color: #c3c4c5;
        }
    .apps-body .bot-item .app-webhook-id {
        cursor: pointer; }
    .apps-body .bot-item .footer-buttons {
        left: 0;
        bottom: 0; }
        .apps-body .bot-item .footer-buttons button {
            height: 3rem;
            width: 3rem;
            border: none; }

        .apps-body .bot-item .footer-buttons button:focus {
            box-shadow: none; 
            border-radius: 25%;
}

        .apps-body .bot-item .footer-buttons button:hover {
            background-color: #e0dede; 
            border-radius: 50%;
}

    .apps-body .bot-item .fa-facebook-messenger {
        z-index: 3;
        -webkit-transform: scale(1);
        transform: scale(1);
        left: -1rem;
        top: -0.9rem;
    }

    .apps-body .bot-item .fa-circle {
        z-index: 1;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        left: -1rem;
        top: -0.9rem;
    }

    .apps-body .bot-item .fa-facebook-messenger.pseudo {
        z-index: 2;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

.bot-item-popover {
    top: .5rem !important;
    left: 2.5rem !important; }
.bot-popover-backdrop {
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 1059; }

@media (min-width: 576px) {
    .apps-body.card-columns {
        column-count: 2; }
}

@media (min-width: 992px) {
    .apps-body.card-columns {
        column-count: 3; }
}
