.tab-pane {
    padding: 20px;
}

.modal-content {
    background-color: #eee;
}

label *:not(strong) {
    font-weight: normal;
}

.keyword-duplicate {
    color: red;
    margin-left: 10px;
    display: inline-block;
}

/* .chsr.carousel-inner {
    left: 3%;
    width: 540px;
    height: 430px;
} */

.show-richmenu-type {
    position: relative;
    width: 540px;
    height: 360px;
}

.image-ghost {
    display: none!important;
}


.line-title {
    font-weight: bold;
    font-size: 20px;
}

.divider-line {
    border: 0;
    border-top: 1px solid #888;
}

.search-add {
    text-align: right; }
    .search-add .search-bar {
        width: 30%;
    }

.title {
    text-align: left;
    background-color: #F4F4F4;
}

.chsr.card {
    background-color: #fff;
    box-shadow: 1px 1px 1px 3px #ddd;
}

.chsr.table {
    table-layout: fixed;
    word-wrap: break-word; }
    .chsr.table td,
    .chsr.table th {
        vertical-align: middle; }

tr:nth-child(even) {
    background: #F4F4F4;
}

.greeting-textarea {
    resize: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 95%;
}

.limit-user {
    display: none;
    background-color: lightblue;
}

.chsr .text-remark {
    font-size: .85em;
    color: #909090;
}

.text-pre {
    white-space: pre-line;
}

.preview-image-container {
    position: relative;
    height: 16rem; }
    .preview-image-container .preview-image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }