.tab-pane {
    padding: 20px;
}

.modal-content {
    background-color: #eee;
}

.modal-body {
    margin-bottom: 20px;
}

label *:not(strong) {
    font-weight: normal;
}

.keyword-duplicate {
    color: red;
    margin-left: 10px;
    display: inline-block;
}

.chsr.carousel-inner {
    left: 3%;
    width: 540px;
    height: 430px;
}

.show-richmenu-type {
    position: relative;
    width: 540px;
    height: 360px;
}

.image-ghost {
    display: none!important;
}

.image-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.line-title {
    font-weight: bold;
    font-size: 20px;
}

.divider-line {
    border: 0;
    border-top: 1px solid #888;
}

.search-add {
    text-align: right; }
    .search-add .search-bar {
        min-width: 25%;
    }

.operating-btn {
    padding: 5px;
    margin-left: 10px;
}

.title {
    text-align: left;
    background-color: #F4F4F4;
}

.chsr.card {
    background-color: #fff;
    box-shadow: 1px 1px 1px 3px #ddd;
}

.chsr.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.pagebtn {
    text-align: right;
}

.padding-lr {
    padding: 0px 50px;
}

tr:nth-child(even) {
    background: #F4F4F4;
}

.address {
    padding-bottom: 20px;
}

.h3-padding {
    padding-top: 15px;
}

.chsr.pagination {
    margin-top: 0px;
}

.greeting-textarea {
    resize: none;
    overflow: auto;
    width: 95%;
}

.compose-textarea {
    resize: none;
    overflow: auto;
    width: 100%;
}

.limit-user {
    display: none;
    background-color: lightblue;
}

.select-area-style {
    width: 80%;
    height: 250px;
    padding: 1%;
}

.add-text-btn-style {
    width: 20%;
    margin: 0.5%;
    padding: 0.5%;
    float: left;
}

.float-left{
    float: left;
}
