.chsr.alert {
    display: none;
    position: fixed;
    top: 30%;
    right: 44%;
    z-index: 99; }
    .chsr.alert-warning {
        padding-right: 15px; }
    .chsr.alert-warning > button {
        margin: 10px 10px 5px 10px; }

.form-wrapper {
    position: relative;
    margin: 5% auto 0;
    width: 40%; }
    .form-wrapper textarea {
        /* will prevent resizing horizontally */
        resize: vertical; }

.top-toolbar {
    display: flex;
    justify-content: flex-end;
    margin: 2% 10% 0; }
    .top-toolbar .ticket-add {
        margin-right: 2.5%; }
    .top-toolbar .ticket-search-bar {
        width: 25%; }

.chsr.ticket {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    padding: 0 10%;
    width: 100% }
    .chsr.ticket table {
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px; }
    .chsr.ticket td,
    .chsr.ticket th {
        border-bottom:  1px solid rgb(5, 82, 87);
        text-align: left;
        padding: 8px;
        margin: 2px 0;
        width: 115px; }
    .chsr.ticket tr {
        cursor: pointer; }
    .chsr.ticket tr:nth-child(even) {
        background-color: #ddd;
        color: #333; }

.due-time-text .overdue {
    padding: 1px 10px;
    margin: 1px;
    border-radius: 8px;
    background-color: rgb(227, 79, 79);
    color: white;
    font-weight: bold; }
.due-time-text .non {
    background-color: rgb(91, 195, 92); }

.ticket-modal .id-number {
    display: flex;
    width: 45px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px ;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    border-radius: 50%; }
.ticket-modal .modal-title {
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: none;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
