@media (min-width: 1px) and (max-width: 414px) {
  .padding-left-right {
      padding: 0 25px;
  }
}
@media (min-width: 415px) and (max-width: 767px) {
  .padding-left-right {
      padding: 0 50px;
  }
  .chsr.row{
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  .padding-left-right {
      padding: 0 50px;
  }
  .chsr.row{
    margin-top: 80px;
  }
}

/*SIGNUP SIGNIN*/

.signin-logo img,
.signup-logo img {
    width: 62px;
    height: 61px;
}

.form-content {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-title,
.signup-title {
    line-height: 300%;
}

.forget-password {
    line-height: 200%;
}

.top-blue-down-white {
    background: linear-gradient(#33CCFF 40%, #ffffff);
}

.forget-password [href="signup.html"],
.forget-password [href="signin.html"] {
    display: inline-block;
}

.forget-password a {
    color: #33CCFF;
}
