<div class="modal fade" id="ticket_info_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display:flex">
                    <span id="ID-num"></span>
                    <table>
                        <th style="display:none">subject</th>
                        <td class="modal-title edit">檢視待辦事項</td>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <table class="info-input-table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="ticket_info_delete" class="btn btn-danger" data-dismiss="modal">刪除</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                <button type="button" id="ticket_info_modify" class="btn btn-success" data-dismiss="modal">修改</button>
            </div>
        </div>
    </div>
</div>