<div class="modal fade ticket-modal" id="ticketEditModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex">
                    <span class="id-number"></span>
                    <table>
                        <th class="d-none"></th>
                        <td class="modal-title">檢視待辦事項</td>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <table class="info-input-table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="ticket_info_delete" class="btn btn-danger" data-dismiss="modal">刪除</button>
                <button type="button" class="btn btn-light btn-border" data-dismiss="modal">取消</button>
                <button type="button" id="ticket_info_modify" class="btn btn-success" data-dismiss="modal">修改</button>
            </div>
        </div>
    </div>
</div>