
.ticket-edit-table {
    width: 100%; }
    .ticket-edit-table .ticket-row:nth-child(even) {
        background-color: #33ccff;
        color: white; }
    .ticket-edit-table .ticket-col {
        border-bottom: 1px solid rgb(5, 82, 87);
        text-align: left;
        padding: 8px;
        margin: 2px 0;
    }